[2017-10-17 19:39] rhyneav opened #1 "Radio Buttons & Check Boxes do not fill in IE"
Internet Explorer 11 (and presumably below) does not render the inline svg for radio buttons and check boxes

![image](https://user-images.githubusercontent.com/13633775/31685466-14f1b8f8-b351-11e7-846d-05e0701c7fb4.png)

It works on Edge, but not older IE browsers. Also, a regular .png file will work, so it looks like the issue is coming from the svg itself.

[2017-10-28 12:56] rhyneav opened #2 "Need favicon!"
Oops, don't have a favicon yet.

![image](https://user-images.githubusercontent.com/13633775/32134588-e3afaa00-bbbd-11e7-822a-b2ac91ee79bb.png)

[2017-10-30 16:16] TotomInc opened #3 "Adding modern components such as carousel, cards, modals, popovers, ..."
What do you think about adding modern components (that's how I call them) in the framework? Such as popovers, carousel, cards, ...

Also, what do you plan for your framework? Something more complex and complete like Bootstrap, Semantic UI or stay simple with minimal things such as what you already implemented?

Let me know what you think about those components, I would like to implement them if yo

[2017-10-30 21:45] rhyneav commented on #3
Hey TotomInc! In terms of complexity, I'd like to keep JavaScript of the framework for now and focus on it being a simple(ish) CSS framework. It will never be as bare bones as something like http://getskeleton.com/, but PaperCSS could stand to benefit from popovers, cards, and other "modern components".

So go for it! I'd love to see you add those.

[2017-10-30 22:03] TotomInc commented on #3
My idea too was to keep out Javascript of the framework, I'll try to do some popovers and cards.

[2017-10-30 22:22] rhyneav commented on #3
Sounds great, excited to see it!

[2017-10-30 22:40] TotomInc commented on #3
It's currently looking [like that](https://i.imgur.com/HmqmOPK.gifv). Need to finish a few things and I'll send a PR if that's okay for you.

[2017-10-30 22:45] rhyneav commented on #3
That looks awesome! Love it!

[2017-10-31 17:25] Fraham opened #6 "First child border style overwritten"
When the first child border has custom styles, for example border colour, this style is overwritten by the initial border styling
[code]

[2017-10-31 17:36] Fraham commented on #6
#8 Fixes this issue

[2017-10-31 22:14] rhyneav commented on #6
Ah nice catch! Just merged in #8 for you.

[2017-10-31 22:14] #6 closed

[2017-10-31 22:24] rhyneav commented on #6
Went back and created a separate .border class with only the border size and color. This way it shouldn't override the child border as you mentioned. Without this, borders wouldn't have a size and would then be invisible.
[code]

Does this work for you?

[2017-11-01 13:41] brodybits opened #9 "More explicit license statement?"
Thanks for the nice framework, I found it through the following Tweet: <https://twitter.com/speckyboy/status/925407518565851136>

In <package.json> the license is set to ISC which I really like (extremely simple and permissive). Is this your intention and can you make it more explicit?

[2017-11-01 13:48] brodybits opened #10 "Document customizing by patch-package?"
I recently discovered `patch-package` which makes it easy to customize without the need for forking.

I would be happy to contribute documentation assuming this project keeps a permissive license (#9), will need a few weeks due to existing commitments.

[2017-11-01 13:54] rhyneav commented on #9
Hey, I really appreciate that, thank you!

I'm glad you brought up licensing. It was something I ran through very quickly, but you are right; it needs to be more explicit.

[2017-11-01 14:01] rhyneav commented on #10
Patch-package looks interesting, but is it only for patching NPM modules? I'm all for adding it (and cool new things in general), but I just want to understand where this would be useful first.

And yes, this project will keep a permissive license. I'll work on making that more explicit.

[2017-11-01 14:02] rhyneav commented on #3
@TotomInc what are your thoughts on cards? I think that's the next low hanging fruit for modern components. Thank you again for making the popovers, they look great!

[2017-11-01 14:06] TotomInc commented on #3
I'll see what I can do with cards. 👍

[2017-11-01 14:43] TotomInc commented on #3
A basic card look like [this](https://i.imgur.com/jXaWjW5.png).

[2017-11-01 14:47] brodybits commented on #10
I think yes, at least so far (gotta admit I haven't tried it myself). My idea was just to document it as an option. Maybe not so relevant since I realized this project is more of a starter template. (It would be nice to see PaperCSS as a reusable HTML or web component, when we have convergence someday.)

Thanks for the response.

[2017-11-01 17:43] Fraham opened #14 "Hardcoded colour values"
I have noticed there are a few places in the code that uses hardcoded colour values, this does make a bit harder for someone to change the colour values to match their styling.

I would suggest adding new colours for these hardcoded values.

From my quick search i have found these references to hardcoded values
- https://github.com/rhyneav/papercss/blob/d5119c94a1ecfda8f1eacaaecd7ae07e625a7d3b/src

[2017-11-01 21:33] rhyneav opened #15 "SEO Improvements"
The `<head>` in the index.html page is very bare bones right now. No title tag, no meta tags of keywords, etc.

Tags to help with SEO are definitely needed, but my knowledge of what's important vs what isn't is limited. Would love to have some help with this so that PaperCSS is easier to discover via search.

[2017-11-01 22:00] rhyneav commented on #14
Good catch, thank you! Should be an easy fix.

[2017-11-02 08:17] TotomInc commented on #15
I'll work on this tonight, and I think I will also clean up a bit the HTML, it looks clunky as hell. :ok_hand:

[2017-11-02 08:22] TotomInc commented on #14
Let's just add more colors values, I also hard coded one on my cards because this color wasn't declared as a variable.

[2017-11-03 15:12] Fraham opened #19 "Unit Tests"
I have just read this blog post: http://tomek.wiszniewski.cc/how-css-unit-tests-helped-us-move-fast/
This goes over how its possible to write unit tests for css, this would be really handy in this project as it will allow us to have our LESS code tested automatically

[2017-11-03 16:13] ejulen opened #20 "Disabled state for buttons?"
Hi there, I think it would be great if there was a styled disabled state for buttons. Unfortunately I have no suggestions on how they would look, though.

[2017-11-04 14:04] rhyneav commented on #20
@ejulen check out the gifs in #21. is this what you were thinking?

[2017-11-04 14:06] #15 closed

[2017-11-04 14:15] rhyneav commented on #19
Very neat article, I honestly had no idea there was testing for CSS (but it makes sense). Do you know what other CSS frameworks are using for tests? In addition to [tape-css](https://github.com/studio-b12/tape-css) mentioned in the article, there's also [quixote](https://github.com/jamesshore/quixote) for unit testing. Have you used either one of these before?

There's also regression testing, [he

[2017-11-04 15:57] joelwallis commented on #9
Indeed!

I just opened a PR that adds a `license` file and updates the `package.json` to include @rhyneav's full name. 😁

[2017-11-04 20:48] ejulen commented on #20
@rhyneav Yes, that looks really good! Closing.

[2017-11-04 20:48] #20 closed

[2017-11-04 23:51] vpicone opened #23 "Update release to match documenation."
The current download link (v1.0.1) doesn't include Cards, Badges etc. These classes are only accessible if the user clones and compiles the CSS themselves.

[2017-11-05 12:56] Fraham commented on #19
I only have experience of unit and regression testing in C# so i havn't used either of these testing frameworks.

I like the look of quixote, seems to do everything that i would expect it to do.

Made setup a Github project so contributors could pick up tasks of adding unit and regression tests for each component

[2017-11-05 14:39] #9 closed

[2017-11-05 14:53] rhyneav commented on #23
Whoops! My bad on that.

The latest release (with all of those features) is [available for download](https://github.com/rhyneav/papercss/releases/tag/v1.1.0)

I'm still working on how to best put out releases while still keeping the documentation matching. Right now the documentation is built off of the master branch which is not ideal. I'll have to update it to keep things consistent.

[2017-11-05 14:53] #23 closed

[2017-11-05 14:55] rhyneav commented on #14
@TotomInc I saw you had added the muted color in #13, which is perfect. Are there any other colors you had in mind?

[2017-11-05 15:00] rhyneav commented on #19
I like quixote as well, looks very intuitive.

A Github project is a good idea. I'll set that up once we have the testing framework put in place. That way there's no friction to adding in more test coverage.

[2017-11-05 15:26] TotomInc commented on #14
Actually I don't have any other colors in mind, but I think we don't need any other colors.

[2017-11-05 16:04] joelwallis opened #24 "npm package/registry"
Hello Rhyne,

Although it's a CSS library, npm is used as default package manager for front-end related stuff. What about publishing papercss to npm? :-)

You have two options:

- **publish it as a standalone package ([the `papercss` namespace is available](https://www.npmjs.com/package/papercss))**
  - good: installing it would be just a matter of `npm i -S papercss`
  - bad: there is already a `

[2017-11-05 16:11] Fraham commented on #19
@rhyneav could you start the testing framework process off so it is all setup and so that the tests run through the continuous integration

[2017-11-05 17:40] brodybits opened #25 "Cooperate with paper-css?"
From #24 I discovered <https://github.com/cognitom/paper-css>, last updated 8-9 months ago, which *could* be handy for some developers. I wonder if we should consider some alternatives such as:
- rename this project and see how it works with paper-css
- fork paper-css as something like print-paper-css
- do nothing

[2017-11-06 01:39] rhyneav commented on #19
That sounds good, I'll work on getting quixote set up!

I'll also take a look at permissions for the testing project. It'd be pretty silly if I was the only one that could add/edit those!

[2017-11-06 02:23] rhyneav commented on #24
Hey Joel,

Thank you for the heads up with this! I went ahead and snagged the papercss namespace and have been playing around with publishing to that. While there may be some confusion between paper-css and papercss, I think it's worth having the concise name.

It's available now at the [papercss namespace](https://www.npmjs.com/package/papercss) you referenced above. There's still a little bit of

[2017-11-06 02:35] rhyneav commented on #25
Wow, paper-css is very cool! I wish I had done some more extensive Googling on the phrase "paper css".

Are you suggesting that there might be a naming conflict if a developer was using both papercss and paper-css in the same project?

[2017-11-06 14:02] joelwallis commented on #24
Awesome!

Now, I think the next step would be to create a flow to release versions. I see that you're creating [release posts on GitHub](https://github.com/rhyneav/papercss/releases/tag/v1.1.0), with additional notes about changes, etc. Do you have a marketing toolset, like a Twitter profile, etc.? It would be nice to have, but we can discuss it on a dedicated issue.

Also, document your concerns

[2017-11-06 14:42] brodybits commented on #25
The other "paper-css" project looks dead (no updates since March, author not so responsive) so I wouldn't worry so much about a naming conflict. We *could* fork it as something like "print-paper-css" or "page-paper-css" (would be MIT license). Closing for now.

[2017-11-06 14:42] #25 closed

[2017-11-06 15:42] rhyneav commented on #24
That's a great idea, and @brodybits let me know that the Twitter handle papercss is available. I went ahead and signed up for that. I'd like to keep the release posts with changes/updates/thank yous, but a standard process needs to be put in place. Maybe weekly releases?

You are absolutely right about documenting more of my concerns on Github. Still getting used to the whole open source thing :)

[2017-11-06 15:49] rhyneav opened #26 "Normalize.css Dependency"
Currently, [normalize.css](https://github.com/necolas/normalize.css/) is a dev dependency which will cause some problems when packaging for npm. It is also being imported via relative paths, which may also cause issues on npm.

normalize.css either needs to be
- Added instead to dependencies in package.json
- Or added as a git submodule

The import in src/styles.less will then need to be changed t

[2017-11-06 16:01] rhyneav opened #27 "Keeping Docs Consistent with Features"
#17 looks great and ready to merge into master, but that would update the documentation on getpapercss.com, but would the downloadable css file would not have the updates. That would need to be rebuilt and put into a release. This causes an issue of the documentation not matching the available features if downloaded.

Would it be best to keep a separate branch for what gets shown on getpapercss.co

[2017-11-06 19:50] Fraham commented on #27
I would suggest using git-flow https://datasift.github.io/gitflow/IntroducingGitFlow.html
It will allow for master to keep with the current release so that the documentation will always match.
You will then be able to set up a pipeline so when there is a new merge into master it could automatically update the website.
I wouldn't worry about having a weekly release, I think it is   better to have a

[2017-11-06 20:42] Fraham commented on #3
Can this ticket be closed now?

[2017-11-07 12:23] TotomInc commented on #3
Yes this ticket can be closed and if there are more *moderns* components to add, I'll do it as a new feature.

[2017-11-07 12:23] #3 closed

[2017-11-07 13:22] rhyneav commented on #27
I really like that workflow, it makes a lot of sense. Thank you for sharing that! And that's a good point about releases. No point in trying to force things out the door every Sunday.

So moving to the GitFlow methodology:
- PaperCSS master branch is at version 1.1.0
- Create a new branch, develop, where PRs from feature branches will be merged into
- After enough new features in the develop branc

[2017-11-07 14:18] Fraham commented on #27
Yeah that all sounds good 👍

[2017-11-07 15:16] rhyneav commented on #27
Awesome! Check out #30 with the updated documentation. Does this mean the existing PRs need to be rebased off of develop so that they can be merged in to that branch instead of master?

And thank you for your help with this! Really wish I knew about GitFlow months ago!

[2017-11-07 15:24] Fraham commented on #27
Yeah that would be the best thing to do. I have changed my PR's

[2017-11-07 16:38] Fraham opened #32 "Textured backgrounds"
How would people like the idea of adding textured backgrounds, similar to these:
http://lea.verou.me/css3patterns/#blueprint-grid
http://lea.verou.me/css3patterns/#lined-paper
This might help the pages to look a bit more like paper

[2017-11-08 12:21] rhyneav commented on #27
Perfect, thank you!

[2017-11-08 12:21] #27 closed

[2017-11-08 22:03] TotomInc commented on #32
Lined paper match papercss theme so much, there is something to do with it!

[2017-11-09 09:45] PopcornDesign opened #33 "Sass port?"
I believe a SASS version would be better and have a higher adoption rate. Simply because SASS is more widely used right now and has major framework support like bootstrap etc.

please consider it

Thanks.

[2017-11-09 15:13] brodybits commented on #33
I would actually favor using standard css with standard css variables, a couple nice writeups:
- https://www.hongkiat.com/blog/css-variables/
- https://medium.com/dev-channel/css-variables-no-really-76f8c91bd34e

From <https://caniuse.com/#feat=css-variables> css variables seems to be supported most of the modern browsers. We could use something like <https://github.com/MadLittleMods/postcss-css-v

[2017-11-09 19:18] rhyneav commented on #32
These would be cool additions! Especially if the line height matches the text height. I don't think it should be enabled by default, but provides a nice option for users to add some paper flare.

I think the blueprint color is a bit vibrant, but could look good if toned down. Lined paper looks nice, do you think it'd be worthwhile adding the red vertical line?
![image](https://user-images.githubus

[2017-11-09 20:18] rhyneav commented on #33
I had no idea CSS variables were so well supported, thank you for the links @brodybits! The thing I would miss in a pure CSS implementation would be the looping and functions that a preprocessor gives.

As for a SASS version, what would be the advantages, other than it's widely used? In terms of contributing to PaperCSS, LESS and SASS are so similar that if you can use SASS, then you can use LESS

[2017-11-09 21:12] Fraham commented on #19
@rhyneav any update on the unit test setup?

[2017-11-09 21:15] brodybits commented on #19
Could this be considered a "help wanted" issue?

[2017-11-10 14:09] rhyneav commented on #19
@Fraham no update, sorry. I've let the ball drop on this one. @brodybits I'll update it to a help wanted issue.

[2017-11-10 15:16] #14 closed

[2017-11-13 01:03] rhyneav commented on #24
Going to go ahead and close this for now. [PaperCSS is currently on NPM](https://www.npmjs.com/package/papercss) and Gitflow is currently going to be our workflow of choice to getting releases consistent with docs (per #27)

[2017-11-13 01:03] #24 closed

[2017-11-13 16:07] TotomInc commented on #2
Do you have an idea for an "official" logo?

[2017-11-14 00:18] rhyneav commented on #2
What's ironic, is that the Chrome default favicon of a blank page is pretty fitting for PaperCSS. So maybe a more cartooned version of that? I'm open for any ideas you (or anyone else!) may have.

[2017-11-14 18:52] Fraham opened #36 "Tutorials and examples"
I think we should open up the github wiki so we can create some tutorials and examples for anyone how is trying to use PapaperCSS will be able to quickly implement the framework

[2017-11-19 14:46] MunifTanjim commented on #2
What about just an "imperfect" square?

[2017-11-19 15:06] afzalsayed96 commented on #2
![favicon](https://user-images.githubusercontent.com/14029371/32991862-38fbe73c-cd69-11e7-9751-f0b6197fba7c.png)
I suggest this should be the favicon

[2017-11-19 16:53] TotomInc commented on #2
@afzalsayed96 thanks for your submission, but I feel you should also sharp the inside-borders of the icon, it looks a bit too rough. What are your thoughts @rhyneav ?

[2017-11-19 17:25] afzalsayed96 commented on #2
@TotomInc I didn't quite get you.
Built this favicon using papercss itself.

### HTML
[code]
### CSS
[code]

[2017-11-20 01:17] rhyneav commented on #2
I dig it! Favicon made by the framework, nice!

@TotomInc I see your point, but I think the favicon will be to small to really see that it's not perfectly imperfect on the inside. To that point, what browser did you use to display the icon for the screenshot @afzalsayed96?

[2017-11-20 01:18] rhyneav commented on #36
100% yes @Fraham. It'd also be nice to have a demo page or two to link to on the main papercss page. Just to show what it might look like in the wild.

[2017-11-20 03:16] amanbayev commented on #36
@Fraham @rhyneav also would be nice to show the navigation (navbar/sidebar/topbar/?) which was intented to be used with Paper CSS.

[2017-11-20 06:39] nafis-fuad commented on #2
@rhyneav, You are right, Chrome's default favicon is a great fit for your framework. I wondered about it too. and maybe we could replicate this same icon to display on other browsers too... What do you say?

And I have found a solution for you. And here's a preview:
![ms-icon-150x150](https://user-images.githubusercontent.com/24988773/33005390-cb0ea1f6-cdef-11e7-9d20-7ad7a87a916b.png)

And I would

[2017-11-20 06:48] afzalsayed96 commented on #2
@rhyneav the previous preview was using Firefox. Here's a preview in Chrome

![favicon chrome](https://user-images.githubusercontent.com/14029371/33005579-6c41924e-cdec-11e7-88ee-0feff8ab7c18.png)

For Edge, favicon cannot be viewed in localhost but it will work perfectly on deployed webpage

[2017-11-20 09:38] TotomInc commented on #2
@afzalsayed96 favicon looks a bit too light IMO, and the borders are not enough visible.

@nafis-fuad is it possible to add something like the  *P* with the PaperCSS font use? It will customize it a bit more, otherwise it's a nice favicon!

[2017-11-20 10:19] nafis-fuad commented on #2
@TotomInc, Thank you for giving m favicon a thought. And yeah, I like your idea. Definitely worth a try.

[2017-11-20 11:21] nafis-fuad commented on #2
# Maybe this one helps.
![favicon-real2](https://user-images.githubusercontent.com/24988773/33015900-a2a886c4-ce16-11e7-9a8c-b7a5eb2710d8.png)

Had to try a lot of combinations. But this one worked for me. Hope you'll find it interesting.

I've generated all the files required.
@nafis-fuad

[2017-11-20 13:03] afzalsayed96 opened #41 "SSL - To enable HTTPS on website"
I noticed that SSL is not enabled on getpaperccs.com. I've heard about Let's Encrypt that it provides HTTPS certificates for free and it is fairly simple to install and renew a certificate with them. Refer: https://letsencrypt.org/getting-started/

[2017-11-20 15:11] AkshayGulhane opened #42 "Feature: Textarea in forms"
Paper CSS is lacking the textarea which is an important field, especially in forms.

[2017-11-20 15:26] afzalsayed96 commented on #42
[code]
This does the work according to me

[2017-11-20 15:27] AkshayGulhane commented on #42
Awesome! Thanks @afzalsayed96

[2017-11-20 15:27] #42 closed

[2017-11-20 15:59] TotomInc commented on #36
We can add examples/templates like Bootstrap have done: "starter template", "grid system", "dashboard" and other things like that. It's important for people to quickly have an overview of what the framework is capable when everything is put together in a **real-world app**, and I think Bootstrap have done this the right way.

[2017-11-20 17:53] rhyneav commented on #41
Thank you for the heads up! It looks like it is enabled via the Netlify dashboard.
![image](https://user-images.githubusercontent.com/13633775/33033257-cbe87410-cdf1-11e7-9839-b8d70dec4bcd.png)

I'll reach out to their support to see why it's not showing up as fully secure.
![image](https://user-images.githubusercontent.com/13633775/33033227-b6458a6c-cdf1-11e7-97c8-f03814ae4484.png)

[2017-11-20 17:54] rhyneav commented on #33
Going to close this for now. It looks like PaperCSS will stay a Less project :)

[2017-11-20 18:21] rhyneav commented on #2
@nafis-fuad could you please link a screenshot of what it would look like in a browser? Similar to what @afzalsayed96 has done.

[2017-11-20 20:35] rhyneav commented on #41
I may have found the culprit...
![image](https://user-images.githubusercontent.com/13633775/33040215-5fa35b00-ce08-11e7-8a42-673d7edf9080.png)

Looks like an http image is ruining the https party!

[2017-11-20 20:44] #41 closed

[2017-11-20 20:45] rhyneav commented on #41
Fixing the image fixed it, things are secure yet again!

![image](https://user-images.githubusercontent.com/13633775/33040701-e0bcb9a6-ce09-11e7-8df4-fa34dd444ddb.png)

[2017-11-20 20:52] rhyneav commented on #36
Bootstrap's docs are stellar @TotomInc, totally agree there. Would it be best to have these examples on the site (at something like getpapercss.com/examples/) or would using the Github project wiki be best as @Fraham mentioned?

[2017-11-20 21:10] TotomInc commented on #36
It would be better to have them on new pages, sure it will take some time to build examples but it's really worth it. It really make sense for someone discovering the framework, he wants to see what this framework is capable so he can view an example layout.

[2017-11-20 21:11] TotomInc commented on #2
What's the state of the favicon? Have you done a choice?

[2017-11-20 21:14] TotomInc commented on #19
Is unit testing on CSS frameworks really useful? That's the real question, is it worth to spend a few hours or even days on this?

[2017-11-20 21:18] rhyneav commented on #2
No decision yet @TotomInc. Wanted to see what @nafis-fuad's looked like in a browser first.

I personally like @afzalsayed96's a lot. I think it's neat that it was made by the framework. Plus, he already has #38 open with it.

[2017-11-20 22:20] mnemosdev opened #46 "[not a real issue - presentation issue] github repo presentation gif is too fast"
The presentation gif to showcase the documentation is too flashy and fast, which could be annoying but most of all, it doesn't show much! I think it would be a better choice to have it a little bit slower, but that's just my two cents, love u <3

[2017-11-21 02:34] nafis-fuad commented on #2
Here you go, @rhyneav.

![favicon-test](https://user-images.githubusercontent.com/24988773/33051935-9ebeeeb0-ce96-11e7-8672-f33c7f4690d8.png)

@nafis-fuad

[2017-11-21 05:14] talandaw opened #47 "Cards =/= Colors"
The Summary contains the link "Colors" which actually is a ref to Cards.
Both Cards & Badges are not included in the Summary.

[2017-11-21 05:15] talandaw commented on #46
Agreed, I got to this page and was confused with all the images flashing before my eyes before I realized what the gif was supposed to be showing me.

[2017-11-21 06:00] afzalsayed96 commented on #47
Thanks for the info. I will try to fix this. @Fraham will this be considered as hotfix?

[2017-11-21 06:30] TotomInc commented on #46
This will be fixed once #36 get done. We will replace the fast-scrolling gif with pictures of examples layouts done with the framework.

[2017-11-21 06:42] TotomInc commented on #47
I think @taladaw you looked at the wrong branch. develop branch have cards and badges on the summary, plus I can't find your issue with colors link, can you reference some lines of code please?

[2017-11-21 06:45] talandaw commented on #47
I wasn't looking at the code but just the direct website: https://www.getpapercss.com/
I'm at work so I couldn't pull the code on my work computer and was going to check back tonight.

[2017-11-21 06:53] afzalsayed96 commented on #47
@TotomInc  I can confirm this. There are no links to cards and badges in summary and the link named "colors" point to cards on the main website (deployed version)

[2017-11-21 06:53] TotomInc commented on #47
Looks like someone removed some sections from the summary.

[2017-11-21 07:19] TotomInc commented on #2
I personally prefer @afzalsayed96's favicon, your favicon @nafis-fuad is a bit messy, maybe because of the top right folding border.

[2017-11-21 07:33] TotomInc opened #48 "Code for documentation is no longer maintenable"
Having a big index.html file containing all our "examples components" with the lines of code used is not the best thing to do. It's messy and the doc can be a pain to browse for devs, but also a pain for contributors.

My solution here is to keep `/index.html` as a landing page for the framework (quick description, some pictures, link to GitHub/docs, ...).

Then all the docs will go to `/docs` whe

[2017-11-21 09:52] amanbayev commented on #36
I suggest we build some SPA with demo like in Bootstrap.

[2017-11-21 10:09] TotomInc commented on #36
Well as a SPA we can build the docs using PaperCSS, it would be a great example itself. I have a preference for vue.js as a JS framework.

[2017-11-21 10:52] amanbayev commented on #36
@TotomInc I am only able to build ReactJS version. Perhaps it would be a great practice to try VueJS for a change, but not sure that you can rely on quality.

[2017-11-21 10:55] TotomInc commented on #36
We should give a try to vue.js, it's great for small and medium-sized apps.

[2017-11-21 11:23] amanbayev commented on #36
@TotomInc bought Vue course on Udemy. You were the last push I needed (everyone around me seems to be excited about this technology) to get started on Vue.

[2017-11-21 12:08] amanbayev opened #49 "Using paper-btn class on links"
For coders like me who use ReactJS it would be nice to be able to style links <a></a> tags like buttons. This is especially useful when working with routing. Please consider. Right now I believe I cannot style links like buttons.

[2017-11-21 12:08] #49 closed

[2017-11-21 12:08] amanbayev commented on #49
nevermind I was using btn-block instead. my bad.

[2017-11-21 12:14] amanbayev opened #50 "What about Breadcrumbs?"
Is there a vision on how Breadcrumbs should look using PaperCSS?
I am trying to apply this framework on a project and it needs to have some breadcrumbs to indicate users current location regarding to sitemap.
Please help or advise

[2017-11-21 13:05] amanbayev commented on #36
Please take a look at SPA built with ReactJS and Meteor:
http://startupzone.kz/

source is available at:
https://github.com/amanbayev/papercss-meteor-react-tutorial

to run you will need to install meteor from https://www.meteor.com/
once you checkout the project just run
[code]
then
[code]

[2017-11-21 13:09] TotomInc commented on #36
This is good but it needs more customization to be an official documentation SPA. Something like a static navbar with all useful links, a better sidebar containing the summary (with dropdowns?). Otherwise, great work!

[2017-11-21 13:18] amanbayev commented on #36
@TotomInc thanks for Feedback. Yeah, right now it is all copy-paste from official (current) docs of PaperCSS.
Static navbar - I dont think we have a way to do it yet. All I did was used Summary section as is.
Perhaps someone could help me with official tutorial ideas.

[2017-11-21 14:48] rhyneav commented on #2
Totally agree. The fold looks great in a bigger image, but gets a little distorted when in a small icon. Thank you for putting that together though, @nafis-fuad!

I'm going to go ahead and merge in #38 with @afzalsayed96's favicon.

[2017-11-21 14:48] #2 closed

[2017-11-21 15:03] rhyneav commented on #46
Totally agree! It was a fast and dirty way of adding some motion to the README. Until #36 is wrapped up, I'd be happy to merge in a replacement gif that's a little less... extreme.

(and thank you for the kind words @mnemosdev <3)

[2017-11-21 15:05] ummahusla opened #51 "What about React version of the PaperCSS?"
Are you considering building a React version of this framework?

[2017-11-21 15:10] rhyneav commented on #47
That's 100% my bad @TotomInc. It must have happened when we started using the develop branch. It's in develop, but not in master. https://develop.getpapercss.com/

@afzalsayed96 this would be a hotfix! Could you also please add in the other items missing in the summary? I'll assign this issue to you.

[2017-11-21 15:20] amanbayev commented on #51
I'd love to participate @ummahusla

[2017-11-21 15:20] TotomInc commented on #51
I don't think so, since we want the framework to be the most simplest without any big integration to be done. It will stay, if @rhyneav agrees, a pure CSS framework. Maybe a React version can be done by the community, but I don't think it will have its place in the official repo.

[2017-11-21 15:22] TotomInc commented on #47
@rhyneav I was not aware of the develop preview, this should be added in the readme IMO.

[2017-11-21 15:22] ummahusla commented on #51
@TotomInc How about creating a GitHub organisation account, move repository there, and there we would be able to create a react version of the framework. I guess a lot of the users would pick it up and collaborate on this.

[2017-11-21 15:22] ummahusla commented on #51
@amanbayev Good! 👍 Me too

[2017-11-21 15:23] TotomInc commented on #51
I'm not the owner as you see, we need to involve @rhyneav in this issue!

[2017-11-21 15:24] ummahusla commented on #51
@TotomInc Yep, I've noticed that. I'm just sharing my idea.

[2017-11-21 15:31] rhyneav commented on #48
Well, the monolithic index.html file wasn't going to last forever...

I like your strategy. Keep some links and a description on the landing page and separate out the documentation into many files.

Going the old-school method might be a pain in terms of initial set up, but keeping a framework out of the equation would make contributing easier. Someone wouldn't need to learn React or Vue, they cou

[2017-11-21 15:31] rhyneav commented on #47
Hehe it's a brand new feature as of 22 minutes ago. I'll add in something now @TotomInc

[2017-11-21 15:39] afzalsayed96 commented on #48
I agree here with @TotomInc . It is a pain to scroll back to the top and/or find other links from the page. We gotta modularize the code and doc

[2017-11-21 15:43] afzalsayed96 opened #52 "x-index overflow in mobile view"
The x index is scroll-able in mobile view. Need to fix this!

[2017-11-21 15:44] TotomInc commented on #48
I totally agree about using a SPA, it was my initial goal. What would be even better is a system like this: all the text of the docs are on this repo, written in `.md`. Then the text of this `.md` is parsed into the SPA, this will allow people that don't know the framework to contribute on the docs.

[2017-11-21 15:48] rhyneav commented on #51
Hey @ummahusla what do you mean by React version? Like creating React components similar to [Reactstrap](http://reactstrap.github.io/), or building the documentation page in React?

[2017-11-21 15:50] rhyneav commented on #48
That would be perfect @TotomInc. In that case, would it be best to use a static site generator? A happy medium between both worlds?

[2017-11-21 15:51] TotomInc commented on #48
I don't really know anything about static site generator. Are you talking about GitHub Pages generator? Help is wanted on this issue. :sos:

[2017-11-21 15:54] rhyneav commented on #50
That's a great question, and something I have not thought about. I like how simple [Bootstrap's breadcrumbs](https://v4-alpha.getbootstrap.com/components/breadcrumb/) are. So maybe something along those lines? However, I'm 100% open to any cool ideas with this. Breadcrumbs would be a nice feature to have!

[2017-11-21 15:58] rhyneav commented on #48
Haha SOS!

I don't know if we'd want to go with the Github Pages generator, just to avoid being totally locked in to their ecosystem. Maybe something like http://www.metalsmith.io/?

Totally just guessing here, research/help is much needed here.

[2017-11-21 16:03] rhyneav commented on #52
Ah dang. The culprit is the CDN url. Just a simple `overflow-wrap: break-word;` style should fix this.

![img_5081](https://user-images.githubusercontent.com/13633775/33082758-8a7178be-ceab-11e7-997d-917a1e39183b.PNG)

[2017-11-21 16:14] afzalsayed96 commented on #52
Should I add it in the hotfix along with issue #47 ?

[2017-11-21 16:42] ummahusla commented on #51
@rhyneav Yep, my idea is to make something like `Reactstrap`.

[2017-11-21 17:05] TotomInc commented on #52
So shouldn't this property be added to a component?

[2017-11-21 17:20] Kaperskyguru commented on #51
I will love to participate

[2017-11-21 17:22] TotomInc commented on #50
That what I wanted to say, Bootstrap CS breadcrumbs do the job, you could easily do the same and customize it to give it a paper look.

[2017-11-21 17:27] Kaperskyguru commented on #50
Bootstrap breadcrumbs is cool.... But we all kn we need to tweak it a little.... Let's try drawing a breadcrumb on paper and implement the design from its look..... It shouldn't look exactly like that of bootstrap..

[2017-11-21 17:39] nafis-fuad commented on #2
### It's Ok.

@nafis-fuad

[2017-11-21 17:51] TotomInc opened #54 "Missing .editorconfig file"
As I see the PRs, everyone is using its own indentation (spaces/tabs, size) and it sometimes mess the file, PR review become a pain.

[2017-11-21 19:09] MunifTanjim commented on #48
I think creating an SPA would be overkill here. Using Static Site Generator seems like a good way to go. I'll suggest [Hugo](https://gohugo.io/) for this.
If you decide to go with Hugo, I can help by developing a Hugo template with PaperCSS which will be used as the PaperCSS landing page & documentation site.

[2017-11-22 08:17] spapas opened #59 "Supports only english fonts :("
Hello, the fonts that are used do not support other languages except english. More specifically, I wanted to use papercss for a project in greek but the fonts that are substituted when using greek are really ugly.

Here's how the default styles are displayed when I write greek:

![papercss](https://user-images.githubusercontent.com/3911074/33116661-4634857e-cf6e-11e7-95dd-997b657eeab4.png)

Can yo

[2017-11-22 08:18] Kaperskyguru commented on #59
ok... nice for the feedback

[2017-11-22 08:52] ummahusla commented on #54
Yep, editorconfig is a crucial thing to use when there are multiple collaborators.

[2017-11-22 09:07] TotomInc commented on #59
Currently PaperCSS use 2 fonts: [Patrick Hand SC](https://fonts.google.com/specimen/Patrick+Hand+SC?selection.family=Patrick+Hand+SC) for things like headers, and [Neucha](https://fonts.google.com/specimen/Neucha?selection.family=Neucha). In the `fonts.less` [we import the fonts from Google Fonts](https://github.com/rhyneav/papercss/blob/f3ee817270996967de8a4e4aa6b252ae0c2bd0cc/src/fonts.less#L1).

[2017-11-22 09:09] TotomInc commented on #54
We should agree on certain points of the editorconfig file such as indent size/type, EOL. @rhyneav

[2017-11-22 09:17] spapas commented on #59
The problem is that neither of these fonts not support greek... Could you propose other fonts to use instead?

[2017-11-22 09:19] TotomInc commented on #59
We are open to any suggestions about fonts. If you find one that have greek support but also other language support, just let us know or make a PR with the new font!

[2017-11-22 09:24] ummahusla commented on #54
https://www.youtube.com/watch?v=SsoOG6ZeyUI

[2017-11-22 09:32] muyaszed commented on #48
Hi, is the current index.html is serve from github ?

[2017-11-22 10:17] TotomInc commented on #48
Yes, it is currently served from Github @muyaszed

[2017-11-22 11:08] afzalsayed96 commented on #52
We missed this...

![image](https://user-images.githubusercontent.com/14029371/33124590-8beb4d2a-cfa3-11e7-9ae9-b0a52ecc2d89.png)

[2017-11-22 11:16] TotomInc opened #60 "PaperCSS just reached 1,000 stars!"
Thanks to everyone who contributed on the code, gave us their idea, feedback, ...  PaperCSS is a very interesting framework, and I hope it will grow even more! There is still so much things to do to improve this framework!

[2017-11-22 11:17] mrpinkcat commented on #60
**GG guys**

[2017-11-22 11:21] amanbayev commented on #60
1,000 and counting :)
gg

[2017-11-22 11:30] afzalsayed96 commented on #52
[code]
The padding is the problem

[2017-11-22 11:45] afzalsayed96 opened #61 "Merge Issues"
Correct me if I'm wrong
I've noticed that since we are merging PRs to 2 different branches i.e. master for hotfixes and develop for features. This will create merge issues when new features will be merged from develop branch to the master branch. Since, develop branch doesn't gets refreshed from master branch after the hotfixes.
This might be the reason which caused issue #47
IMO to tackle this al

[2017-11-22 11:49] amanbayev commented on #61
I agree

[2017-11-22 11:58] afzalsayed96 commented on #52
Proposed fix:
- Padding for ```table tbody tr td``` must be in percentage
- Adding ```!important``` in media query for container width
[code]

[2017-11-22 12:02] spapas commented on #59
Unfortunately google fonts doesn't have any handwriting fonts that support greek :( https://fonts.google.com/?selection.family=Neucha&subset=greek&category=Handwriting

[2017-11-22 12:51] amanbayev opened #62 "Missing elements"
To celebrate 1k stars and to get ready for PaperCSS v2 (perhaps? 🥇 )
it would be nice to add following elements:
- [ ] datepicker
- [ ] sidebar, multilevel sidebar
- [ ] time picker
- [ ] icon font - would be awesome to have some icons (perhaps as a stand-alone package)
- [ ] using icons in form inputs - "input addons"
- [ ] calendar would be awesome
- [ ] timelines, wizards, steps
- [ ] sliders

[2017-11-22 12:53] amanbayev commented on #50
closing this for #62

[2017-11-22 12:53] #50 closed

[2017-11-22 13:35] rhyneav commented on #48
Hugo looks like a great option for this @MunifTanjim. It looks like it's [pretty dang popular](https://www.staticgen.com/) too.

My question is, how much overhead is required to getting Hugo installed? If someone came across PaperCSS now, all they need to do now is clone the repo, `npm install`, and `npm start` to get the docs and CSS loaded up. Would Hugo add a lot of complexity to this vs using

[2017-11-22 13:50] rhyneav commented on #52
Good catch with the padding! And is the `!important` tag needed here?

[2017-11-22 13:52] TotomInc commented on #52
I think the `!important` tag override the default `width` which is set upper.

[2017-11-22 13:58] rhyneav commented on #54
Haha! Was literally thinking of that scene when reading this!

As for the spaces/tabs debate... Does 2 spaces for HTML, CSS, and LESS files make sense? Keep things consistent. It looks like most of the Less files are currently using 4 spaces (oops).

What other specifications need to be included in the .editorconfig?

[2017-11-22 14:02] rhyneav commented on #59
Sorry about that @spapas! I would recommend dropping in Neucha as @amanbayev mentioned. That seems like a good fix for this.

[2017-11-22 14:04] rhyneav commented on #60
What a wild ride, and thank you to everyone who has contributed so far! I'm excited to see how PaperCSS evolves!

[2017-11-22 14:09] rhyneav commented on #61
Totally understand that. What I've been doing for the time being for hotfixes is merging it into master and then merging it into develop ([as specified here](http://nvie.com/posts/a-successful-git-branching-model/)). This way the develop branch is kept consistent with master preventing merge problems down the road. This process is a little bit more manual than I'd like, but it matches with the [Gi

[2017-11-22 14:12] Nilanno opened #63 "Button press animation"
There is no animation when a button is pressed. This is not very user-friendly, especially for single-page apps.
Pull request is ready #64

[2017-11-22 14:40] afzalsayed96 commented on #52
@rhyneav Yes it's needed

![image](https://user-images.githubusercontent.com/14029371/33132806-ac5dd876-cfc0-11e7-99cb-e31ad88890c9.png)

![important](https://user-images.githubusercontent.com/14029371/33132920-14238f5a-cfc1-11e7-9e1d-bf7e0d3f5a60.png)

@TotomInc It does override only for the specified screen-size which is actually desired to achieve

[2017-11-22 14:44] afzalsayed96 commented on #61
Thanks for clarification 😃

[2017-11-22 15:25] TotomInc commented on #54
I agree with the 2 spaces for all the files. Generally a basic `.editorconfig` file looks like that:

[code]

[2017-11-22 16:06] rhyneav commented on #61
Sure thing! It's not perfect, and we're still working out the kinks in the development workflow. So I'm all ears for these types of conversations to improve things.

[2017-11-22 16:06] #61 closed

[2017-11-22 16:21] rhyneav commented on #52
Gotcha! Could this also be solved by changing the html from
[code]
to
[code]
That way the paper width of 100% is within the container and not overriding it.

I'm just trying to find ways around using `!important`. This way it's easier for someone using PaperCSS to override the styles if need be.

[2017-11-22 16:21] MunifTanjim commented on #48
@rhyneav
Well, there is a binary wrapper for `hugo` on `npm` registry: [hugo-bin](https://github.com/fenneclab/hugo-bin). So, it can be added as a `package.json` dependencies.

I don't think `hugo` will add complexity. And the major plus point of Hugo is its **crazy fast** speed compared to any other static site generator.

And the contributor will only work with only Markdown files for documentat

[2017-11-22 16:53] afzalsayed96 commented on #52
Great! Your fix works. I totally forgot about problem with overriding ```!important``` 😅

[2017-11-22 17:20] spapas commented on #59
Unfortunately the Neucha font doesn't support greek characters either :( If anybody could recommend a font that supported greek fonts and was compatible with the papercss style I'd be grateful!

[2017-11-22 18:44] MunifTanjim commented on #33
Did you take a look at **SCSS**?

SCSS is the new main syntax (as of Sass 3), and is a superset of CSS's syntax. This means that every valid CSS stylesheet is valid SCSS as well. SCSS files use the extension `.scss`.

Using SCSS will enable the framework to be more approachable by the contributors. Even if somebody has no experience with CSS pre-processors, they can look at the code and understand

[2017-11-23 08:04] Fraham commented on #19
@TotomInc the sort of unit testing I am thinking about is when dealing with less functions and css inheritance.

So it would be nice to have unit tests set up before doing a refactoring as it will prove that the refactor hasn't broken anything.

Also for less functions, I think all logic should be tested to ensure the results are as expected and doesn't regress

[2017-11-23 08:19] afzalsayed96 commented on #52
Is anyone assigned to this issue?

[2017-11-23 08:25] afzalsayed96 commented on #62
Nice suggestions. I can work on the icons. Could you elaborate more how to go about it with the standalone package for icon font?

[2017-11-23 08:50] valerymelou commented on #62
@amanbayev doesn't things like date picker, time picker, sidebar... will require JavaScript to work?

[2017-11-23 11:24] amanbayev commented on #62
@valerymelou Yes, but I believe it is a common demand to have these JS components. I cannot imagine a web app without a datepicker in a form. The way bootstrap does it - they provide css and js file within a framework. What we could do is provide at least the CSS version of those components, and then other libraries could be used by serving custom styles. Almost all open-source components allow us

[2017-11-23 11:36] amanbayev commented on #62
@afzalsayed96 perhaps using services like http://fontastic.me/ ?
from my understanding one needs to create a spritesheet with all the icons, and in css/less file it needs to be defined which class stands for which exact sprite in a spritesheet (starting position x,y, width and height etc.)
that those css/less and spritesheet files are included in the project to be used like <i class="[iconsetname]

[2017-11-23 15:27] rhyneav commented on #48
I'm sold! Hugo sounds like a great way to break up the monolithic index.html file.

[2017-11-23 15:28] rhyneav commented on #52
Nope! Do you want to take this one @afzalsayed96?

[2017-11-23 15:29] TotomInc commented on #48
Let's go for Hugo so! Who is charged of setting up the whole thing? I don't have any experience in this, so I'm not on it.

[2017-11-23 15:32] MunifTanjim commented on #48
:hand: I can do this. I've experience creating templates for Hugo.

[2017-11-23 15:32] rhyneav commented on #62
Hmmm, maybe it's time to start thinking about components that involve JS. I'd like to keep it somewhat from the core of PaperCSS though. I think a lot of the value of this framework is being able to drop in the CSS file and be minimal with classes to achieve the paper look.

[2017-11-23 15:44] afzalsayed96 commented on #52
I'm on it

[2017-11-23 16:07] rhyneav opened #67 "Version 1.2"
A lot of awesome features and fixes have been added over the past couple of weeks. I think it's time to create release branch 1.2 and get ready to launch v1.2!

[2017-11-23 16:12] afzalsayed96 opened #68 "Contributing.md"
As the code and community grows it becomes more difficult to keep everything organized. According to GitHub's [Building a strong community](https://help.github.com/articles/setting-guidelines-for-repository-contributors/) we need to setup guidelines for repository contributors.
Inspite this is briefly defined in [README](https://github.com/rhyneav/papercss/blob/master/README.md) I feel it must be

[2017-11-23 16:14] Nilanno commented on #63
issue solved in develop

[2017-11-23 16:14] #63 closed

[2017-11-23 16:34] rhyneav commented on #48
@MunifTanjim That would be amazing! Please let me know what I can do to help out.

[2017-11-23 16:34] rhyneav commented on #52
You rock, thank you @afzalsayed96!

[2017-11-23 16:36] rhyneav commented on #49
All good, glad things are working :)

[2017-11-23 16:53] rhyneav commented on #33
I'll do some homework on SCSS. It's not something I've used much of, but after a quick few Google searches, most recommend using it over LESS.

I'll definitely do some consideration on it. If a switch is made, it looks like there [some tools](https://www.npmjs.com/package/less2sass) to help facilitate the conversion process.

[2017-11-23 16:58] rhyneav opened #70 "Linting"
In addition to adding an .editorconfig (#54), adding a linter like [stylelint](https://stylelint.io/) would be beneficial in keeping contributions well styled.

[2017-11-24 07:54] MunifTanjim commented on #70
[Prettier](https://github.com/prettier/prettier) would be a good choice for this.

[2017-11-24 07:56] valerymelou opened #73 "Invalid styles in the generated CSS"
I've noticed this rules in the generated CSS. The pseudo class `hover` is applied twice on the same selector.
[code]

I think this is caused by this rule in the `button.less` file:
[code]

and how the class `.shadow-hover` is styled in `shadows.less`.

I'm not a LESS expert but I think that there is a problem with the way styles defined for `.shadow-hover` are extended to `button:hover`.

[2017-11-24 11:01] antoninadert opened #77 "Amazing work !"
I didn't know how to contact you so thank you, this is real cool.

I believe we can add more elements like Tabs, I really like how easy it is to pick it and change it (pure CSS wins)

Thank you

[2017-11-24 15:16] rhyneav commented on #77
Thank you so much! I really appreciate it, and I'm sure the other contributors do too :)

PaperCSS is still in the early stages, so there are a lot more elements that can be added!

[2017-11-24 15:44] rhyneav commented on #70
Prettier looks great for this, thank you for the link!

[2017-11-24 15:45] rhyneav commented on #73
Hmm, this may have been fixed in the develop branch. Have you checked in there yet?

[2017-11-24 15:54] rhyneav commented on #68
It is merged and live! Thank you for adding this.

[2017-11-24 15:54] #68 closed

[2017-11-24 15:56] rhyneav commented on #19
Some basic tests for colors and flexbox styles might be good. I don't think it's a huge priority, but could be a nice addition as the framework gets larger. And especially if JavaScript gets added to it.

[2017-11-24 15:57] #47 closed

[2017-11-24 15:58] rhyneav commented on #51
Sounds like a great project! What can I do to help get things set up for you all? I have the organization, papercss on Github if you think setting up a repo there would be a good start.

[2017-11-24 15:59] #52 closed

[2017-11-24 16:01] rhyneav commented on #60
Since we're now at 1,200 stars (another awesome milestone), I'm going to close this :)

[2017-11-24 16:01] #60 closed

[2017-11-24 16:02] valerymelou commented on #73
Just did. It's still there.

[2017-11-24 16:05] ummahusla commented on #51
@rhyneav Setting up a repo will be a good first step. Then we can start a `Project` directly in this repo. I guess the toughest point will be to setup the actual project and make it build smoothly.

[2017-11-24 20:00] MunifTanjim opened #80 "Code related HTML Tags style"
The general guideline for using `<code>` tags goes somewhat like this:

- `<code>` should be used for inline codes that can wrap
- `<pre><code>` should be used for block of codes that shouldn't wrap

Here's an example taken from [W3C Recommendation for HTML5](http://www.w3.org/TR/html5/grouping-content.html#the-pre-element):

[code]

Various **markdown parsers** do the exact same thing. And variou

[2017-11-25 03:42] Banjerr opened #81 "React PaperCSS"
I love this! I hope you don'd mind, but i've started going through and turning some of these into React components, which can be found here

https://github.com/Banjerr/react-paper-css

I should have them all "React"-ified soon!

[2017-11-25 03:45] Banjerr commented on #51
@ummahusla @rhyneav @Kaperskyguru i've started "React"-ifying PaperCSS earlier today, made a new "issue" to share, but I'll share here as well. I haven't gotten everything converted over into components yet, but a decent portion has been done. I can transfer the repo over to the PaperCSS org if needed. it's also on NPM, which of course I can edit also

[2017-11-25 15:24] afzalsayed96 commented on #77
Added tabs in PR #84

[2017-11-25 15:29] rhyneav commented on #80
Ah that makes a lot of sense. I've seen a lot of other libraries use the `<pre><code>` combination, but never fully understood why. Thank you for the links and for the help, this will definitely need to be updated. T

[2017-11-25 15:37] rhyneav commented on #81
I don't mind one bit, I think that is so cool! I also wanted to link #51 where some others are talking about doing the same thing.

[2017-11-25 15:40] rhyneav commented on #51
That sounds good @ummahusla, I'm looking into moving over this repo as well as it keeps growing.

@Banjerr, that is awesome! Since you've already done the leg work in getting set up, I can either set up the react-papercss repo in the papercss organization and let you add your changes there. Or you can transfer it over your existing repo and I can add others to a team there for you.

[2017-11-25 16:09] Banjerr commented on #81
Awesome, I actually already saw and commented there too. I've almost got the "demo" page up on GH pages

[2017-11-25 16:20] Banjerr commented on #51
@rhyneav i'm up for whatever makes the most sense.

"demo" page is up, just a simple Create React App published to GitHub pages - I think this is a good way to test functionality as new components are Reactified.

https://banjerr.github.io/React-Paper-CSS-Page/

and its published as a package on NPM as "react-paper-css", currently under my user but i can transfer this to an org or whatever makes t

[2017-11-26 20:59] Kenan7 commented on #36
As you write tutorial, add it to crowdin so i can translate it to Azerbaijani and Turkish and reach a lot of person who wants to learn!

[2017-11-26 23:05] rhyneav commented on #67
With #71 merged it, the [release branch](https://github.com/rhyneav/papercss/tree/release-1.2) has been created off of develop! This branch will be used to prepare the metadata and download links as well as fix any little bugs that may have popped up.

Check out the preview at https://release-1-2.getpapercss.com/

[2017-11-26 23:11] rhyneav commented on #51
I went ahead and created a repo on the organization page if that's okay with you @Banjerr. I've added both Yourself and @ummahusla as members to the team so far.

[2017-11-26 23:11] rhyneav commented on #51
Link: https://github.com/papercss/react-papercss

[2017-11-26 23:47] Banjerr commented on #51
sounds good to me @rhyneav

I've transferred my work thus far to the org, which is at
https://github.com/papercss/react-paper-css

We can rename/delete the "duplicate", whichever is easier. I'll work on transferring over the "demo" page and setting it up on a GitHub page for the organization, also.

[2017-11-27 08:49] ummahusla commented on #51
@Banjerr @rhyneav good job guys 👍

[2017-11-27 14:53] muyaszed opened #86 "Papper Css gem for Rails"
Hi Everyone, since there is already a #81 , I just cretaed a ruby gem to integrate Papercss to rails for whoever using erb for the front-end

Here is the gem - https://github.com/muyaszed/rails_papercss_gem
and here is the Demo - https://rails-papercss.herokuapp.com

Cheers

[2017-11-27 20:17] muyaszed opened #87 "Inline list"
Hi I would like to add inline list feature in this framework. It is just very simple add on that is useful for menu or other things. Below is the example from my branch

![screen shot 2017-11-27 at 8 14 29 pm](https://user-images.githubusercontent.com/10081727/33287251-02635028-d3b0-11e7-8013-31130c954585.png)

[2017-11-27 20:37] Fraham commented on #87
If you make a pull request from your branch to the develop branch then we should be able to see your less code and hopefully get it merged into the project

[2017-11-27 20:43] Fraham commented on #67
Cool, some really good nice features :)

[2017-11-27 20:46] Fraham commented on #54
Is this issue closed now that #65 has been merged?

[2017-11-27 22:38] TotomInc commented on #54
Yep it should be!

[2017-11-27 22:38] #54 closed

[2017-11-27 23:43] rhyneav commented on #86
Very nice! Please let me know if you'd like to add it to the PaperCSS organization. You'd retain ownership, and it would help with visibility. This repo will eventually migrate that direction as well.

[2017-11-28 14:20] muyaszed commented on #86
Yes, that would be great

[2017-11-29 07:56] afzalsayed96 commented on #51
I would also like to contribute to the react version 👍

[2017-11-29 08:20] ummahusla commented on #51
@afzalsayed96 I've started adding new issues to stuff we need to do. Feel free to help yourself. https://github.com/papercss/react-paper-css

[2017-11-29 15:50] rhyneav commented on #86
Cool! Feel free to transfer over the repo whenever you are ready :)

Thank you for creating that, it's nice to see PaperCSS expanding to the Rails world.

[2017-11-29 16:38] afzalsayed96 commented on #87
Could be closed now?

[2017-11-29 16:49] afzalsayed96 commented on #73
I've checked that this issue is still existing in develop as well as master branch. However, I don't really understand what are the side-effects caused by it. What is the solution proposed here?

[2017-11-29 17:16] muyaszed commented on #87
Yes

[2017-11-29 17:16] #87 closed

[2017-11-29 18:08] Fraham commented on #80
I dont think so

[2017-11-29 18:17] Fraham opened #91 "Unit tests for colors"
Add unit tests that cover background colors.
Add unit tests that cover inheritance of text and background colors.

[2017-11-29 19:38] muyaszed commented on #86
I tried to transfer but I get an error saying I do not have any permission to create a repo on the organization

[2017-11-29 20:31] Fraham opened #92 "Communication"
I think it would be nice to have better communication in the organisation. I would suggest using slack so we can keep track of projects and developments, it also works nicely with web hooks.

[2017-11-30 09:27] afzalsayed96 commented on #92
I second that

[2017-11-30 09:31] afzalsayed96 commented on #80
Imo this fix can be directly added in PR #81

[2017-11-30 09:38] MunifTanjim commented on #80
Nope, it should be a different PR. #82 is only about the documentation site.
( moreover, I'm not actually comfortable editing LESS files )
@afzalsayed96

[2017-11-30 09:51] afzalsayed96 commented on #80
Ok thanks @MunifTanjim I'll create a new PR

[2017-11-30 18:44] rhyneav commented on #73
I think `.shadow-hover` needs to be moved outside of the `&:hover`.  since `.shadow-hover` includes :hover

[2017-11-30 18:47] rhyneav commented on #86
Ah dang! I just added you as a team member, please let me know if there's any other errors!

[2017-11-30 19:02] rhyneav commented on #92
I'm open to using Slack, but would like to keep communication as open as possible. I'm a Slack novice, is it possible to have a public channel?

[2017-11-30 19:28] muyaszed commented on #86
ok done

[2017-11-30 19:28] #86 closed

[2017-12-02 12:23] afzalsayed96 opened #95 "Modals in CSS"
Should we add a modal feature to the framework.? This can be implemented using pure CSS but with a drawback that the modal can be opened again by clicking back button or visiting the modal url.
Refer : https://www.mnishiguchi.com/2016/05/10/modal-dialog-with-pure-css/

[2017-12-02 12:43] TotomInc commented on #95
Modals are an important point IMO in a CSS framework, even if it has some drawbacks since it's pure CSS. If you are interested in the making of this, just go and show us what it would look like for you.

[2017-12-02 12:44] TotomInc commented on #92
I would agree on a Slack channel, very useful.

[2017-12-02 12:45] TotomInc commented on #77
Since #84 have been merged and introduce tabs, I close this issue. Thanks for your contribution!

[2017-12-02 12:45] #77 closed

[2017-12-02 12:47] TotomInc commented on #46
Better docs are coming soon, and I will open a new issue to suggest an overhaul of the readme. I close this issue since it's only a small part of my upcoming issue.

[2017-12-02 12:47] #46 closed

[2017-12-03 11:32] Fraham commented on #95
I think we should make a features project so we can keep track of what people are implementing

[2017-12-03 11:48] Fraham commented on #92
https://join.slack.com/t/papercss/shared_invite/enQtMjgwOTc1MjMyODY4LWE3NmRhZGYwZmQ0YjdlNDc3NDE3NGUyYmQ1MjMxMDkwNmMyNjMwMmNhM2FhNmVjZTg5ZWRmOTQxYmMwNTYyOWQ

[2017-12-03 11:50] Fraham commented on #92
made a slack group, that is the invite for  people to join

[2017-12-04 10:17] TotomInc opened #96 "Create single component with css extension"
We actually only have `.less` files for single-components, but what if we need to import a single-component in pure CSS? For example, in [vuejs-paper-css](https://github.com/papercss/vuejs-paper-css) I need to import the styling of each component (in `sass` or `css` since it increase the complexity of the build of each user to add `less` support).

[Here you can see](https://github.com/papercss/vu

[2017-12-04 12:24] rhyneav commented on #67
Closing because it is now released! <3

[2017-12-04 12:24] #67 closed

[2017-12-04 12:27] rhyneav opened #97 "PaperCSS Version 1.2 is Released!"
Checkout the [release details](https://github.com/papercss/papercss/releases/tag/v1.2.0) to see what is new :)

[2017-12-05 00:16] #97 closed

[2017-12-05 13:42] rhyneav commented on #59
@spapas here's [a list of fonts that support Greek characters](https://www.fontsquirrel.com/fonts/list/language/greek). Hope this helps!

[2017-12-05 13:42] #59 closed

[2017-12-05 13:43] rhyneav commented on #51
Closing this now that the react repo is up and running :)

[2017-12-05 13:43] #51 closed

[2017-12-05 13:46] rhyneav commented on #81
Going to go ahead and close this since it's now at https://github.com/papercss/react-paper-css

[2017-12-05 13:46] #81 closed

[2017-12-05 13:47] rhyneav opened #98 "Links on README"
It would be beneficial to link to the other PaperCSS projects within the PaperCSS organization on the README. Maybe in a section called "Related Projects"?

Also a link to the slack channel would be great to make sure that it is used as well (#92)

[2017-12-05 13:50] TotomInc commented on #98
I was thinking about an overhaul of the README, a more structured file and more appealing visually. Add badges, a summary, better content structure, useful links, and so on...

[2017-12-05 14:03] afzalsayed96 commented on #95
Assign this task to me

[2017-12-05 20:24] #19 closed

[2017-12-05 21:25] spapas commented on #59
Interesting list thanks !

[2017-12-06 09:38] muyaszed opened #101 "Include animation"
I stumble upon this library which is purely using css. It would be great if we could include some animation library for papercss

https://github.com/daneden/animate.css

[2017-12-06 15:09] PopcornDesign commented on #33
any update on this? sorry for the lack of response.
I meant SCSS (sass) specifically, it would work alongside my workflow much better and many others too. SCSS has a much higher adoption rate / bigger community.

[2017-12-06 15:15] TotomInc commented on #33
An scss version of paper-css would be welcome, as @MunifTanjim  said a lot of tools are using sass/scss instead of less. For example, in the vuejs-papercss repo I need an scss or css version (of each component), because if I wanted to include less files, this would increase the complexity of the installation of the framework.

If there is a way to convert the actual less project into a sass projec

[2017-12-06 15:40] MunifTanjim commented on #33
It'll need a less2scss automated conversion followed by a major refactor. Yeah, it's a hassle. But in the long run, I think it's worth it.
Anyway, more the time passes more the hassle it'll be to convert the whole project from LESS to SCSS.

[2017-12-06 16:27] afzalsayed96 commented on #95
Created a PR in #102

[2017-12-07 21:45] #80 closed

[2017-12-08 10:05] afzalsayed96 opened #103 "Mobile support in chrome browser"
The mobile view in chrome browser is not showing up as expected.
Possible Reason:
1. Download section

![image](https://user-images.githubusercontent.com/14029371/33760703-92c3c11e-dc2c-11e7-86d7-b5d9bf08551a.png)

2. Non-responsive image section

![image](https://user-images.githubusercontent.com/14029371/33760791-f851f9ec-dc2c-11e7-9897-e9f16d0bf9a8.png)

[2017-12-08 10:14] TotomInc commented on #103
Looks like we need to add an overflow on the container for the text. About the image, it should be a max-width IMO.

[2017-12-08 10:17] afzalsayed96 commented on #103
Mobile view in firefox is perfect. For chrome I think the following code will be required to fix this
[code]

[code]

[2017-12-08 11:10] TotomInc opened #104 "Some packages should be installed as deps and not as devDeps"
I've just realized that gulp and all its plugins are installed as devDeps, that means when we install papercss with `npm i papercss` it will not install devDeps, but only deps (since deps are modules required to make the package work).

In my case, I want to import papercss in vuejs-papercss. There is a postinstall in papercss ([here](https://github.com/papercss/papercss/blob/844b838868d4f7c1d2e39

[2017-12-08 11:22] #104 closed

[2017-12-08 19:25] TotomInc commented on #26
Hey I'm currently working on this one. Since our gulp process `.less`files, I will make the move to [normalize.less](https://www.npmjs.com/package/normalize.less), which is obviously a less version of normalize.css. I'll update the gulp file to import normalize.css (using `__dirname`) and remove the hard-coded dependency in `styles.less`.

[2017-12-08 19:51] muyaszed commented on #91
Hi @Fraham I would like to implement testing for  a new enhancement #101 . I would like to know how do you setup the testing? Do you follow the guide from the link that you posted earlier #19 ?

Cheers

[2017-12-09 06:42] DarkPaladinUHC commented on #36
I would like to work on this, I think that Vue is a great idea! Would we add it to this repository or a separate one?

[2017-12-09 07:13] muyaszed commented on #101
I would like to add this item to a new test card in projects, but I can't find the exact button to do that.

[2017-12-09 07:41] TotomInc commented on #36
Hi @DarkPaladinUHC, you are a bit too late they started to write new docs with examples using Hugo. We have a react and a vuejs version of this framework, which you can find at papercss/vuejs-papercss. I'm in charge of the vuejs version, if you would like to contribute we can add you in the vuejs team and talk about it.

[2017-12-09 07:48] DarkPaladinUHC commented on #36
@TotomInc Alright, I guess I didn't see it. Sorry

[2017-12-09 08:03] DarkPaladinUHC commented on #36
@TotomInc Is the vuejs team for making components for each of the features?

[2017-12-09 08:42] TotomInc commented on #36
Yep @DarkPaladinUHC the vuejs team is making components for each feature available in the original papercss. [You can look at the actual progression here](https://github.com/papercss/vuejs-papercss), before releasing a 1.0.0 of this repo, we need to get all features from papercss.

[2017-12-09 08:42] TotomInc commented on #36
Since we got a Hugo version for docs and example, I assume I can close this issue @rhyneav.

[2017-12-09 08:42] #36 closed

[2017-12-09 08:45] TotomInc commented on #96
It's actually done on the `separate-components`branch.

[2017-12-09 08:45] #96 closed

[2017-12-09 13:01] TotomInc commented on #26
I think the best way is to create a custom `reset.less` file including normalize.css with other custom reset code. Include this file on the top of `styles.less`.

[2017-12-10 07:57] afzalsayed96 commented on #103
Review the fix in PR #107

[2017-12-10 14:10] rhyneav commented on #26
That makes sense. We could import the normalize.less as well as include the boxreset.less styles there too to keep it all in one spot.

[2017-12-10 14:13] TotomInc commented on #26
You can look [here](https://github.com/papercss/papercss/blob/separate-components/src/reset.less), I have included normalize.less in a core file of papercss. This allow an easier integration with packages that uses papercss. I'll also add or remove boxreset.less

[2017-12-10 14:16] rhyneav commented on #26
Ah perfect. We can just keep the boxreset as an import to styles.less if that's easier than including it within the reset file.

[2017-12-10 14:20] rhyneav commented on #101
I'm going to ping @Fraham for this. He is currently the man with the pan for projects.

[2017-12-10 14:20] TotomInc commented on #26
Well actually the separate-components branch is working well except for unit tests. I don't really understand this part, if @Fraham can take a look at this it would be very cool.

Once unit tests are fixed, I'll merge separate-components into develop, and we should prepare a release (1.2.1 or 1.3.0) because those changes are very important (it modularize papercss and allow everyone to implement it

[2017-12-10 15:32] TotomInc commented on #103
#107 have been merged. Thanks for the fix @afzalsayed96!

[2017-12-10 15:32] #103 closed

[2017-12-10 16:07] TotomInc commented on #98
Done. It's actually live on the develop branch.

[2017-12-10 16:07] #98 closed

[2017-12-11 08:47] TotomInc opened #108 "Fix unit test in separate-components branch"
I have been working on a modularized version of papercss, actually live on the separate-components branch, but it looks like unit tests are broken. Can I have the help of @Fraham on this?

[2017-12-11 13:31] rhyneav commented on #26
Absolutely. With the added features, it will make sense to pop out 1.3.0

[2017-12-11 16:20] tan-ahmed commented on #33
I can't use this project unless its converted to SASS/SCSS

[2017-12-11 16:46] TotomInc commented on #33
If someone is interested about doing this, let us now. I reopen the issue since a SASS/SCSS version is highly possible, before the project become too big.

[2017-12-11 18:52] MunifTanjim commented on #33
I can do it, @Totominc.

What will be the workflow?

- Will the existing pull requests be on hold till this is done?
- From which branch should I start? master?

[2017-12-11 19:34] #91 closed

[2017-12-11 19:34] #92 closed

[2017-12-11 19:39] Fraham commented on #101
Added to the features project

[2017-12-11 20:11] Fraham commented on #108
@TotomInc I have committed the fix and merged into your branch. Unit tests are working now

[2017-12-11 20:11] #108 closed

[2017-12-11 20:12] Fraham commented on #26
Unit test issue sorted

[2017-12-11 20:22] TotomInc commented on #33
Thanks for taking care of this @MunifTanjim, you should start from the master branch. We will still continue to merge PR on develop then on master while you work on the SASS port. I'll be glad to help you once you setup the basic things, too.

If you worry in terms of versioning, we are going to release a 1.3.0 very soon witn @rhyneav which include a modularized version of papercss with a few feat

[2017-12-12 10:40] tan-ahmed commented on #33
Guys I just had a few questions:
What's the browser/device support of this framework?
I'm going to build a charity wordpress theme (personal project) - Can I use this framework?

[2017-12-12 12:17] MunifTanjim commented on #33
@TotomInc, I'll wait for modularized 1.3.0.

[2017-12-12 16:25] rhyneav commented on #33
Hey @tan-ahmed, you should be good to [download the latest release](https://github.com/papercss/papercss/releases/tag/v1.2.0) and drop in the CSS file to your WordPress markup. That way you can start taking advantage of the PaperCSS styles in your project.

[2017-12-13 07:42] TotomInc commented on #26
Well I think I can merge separate-components into develop ASAP. It looks stable and unit test are fixed.

[2017-12-13 09:18] antoninadert opened #110 "Accordions"
It would be a nice addition to offer paper accordions.

[2017-12-13 09:48] antoninadert opened #111 "On Windows, animations feel glitched with IE and Mozilla Firefox"
Tested on Windows 7:
This is recorded on Mozilla
![glitch](https://user-images.githubusercontent.com/8929314/33932182-8c10efb2-dff2-11e7-9b75-00d566255390.gif)
 the feel is even worse on IE:
![glitch ie](https://user-images.githubusercontent.com/8929314/33932334-fe420f8a-dff2-11e7-830e-9b3708ea3f22.gif)

For some reason it works perfectly on Chrome.

I also have a Mac and it has no glitch either,

[2017-12-13 10:53] TotomInc commented on #111
I think the best thing to do is remove the animation for IE, maybe also for Firefox.

[2017-12-13 11:51] TotomInc commented on #110
It would be a nice feature, just a small reminder that it must be done without any Javascript. It looks like there are some ways to do pure CSS accordion [according to this codepen](https://codepen.io/raubaca/pen/PZzpVe). It's based on `:checked` state of hidden checkbox/radios input. About the styling, I think we can keep something super simple based of [Bootstrap accordion style](https://getboot

[2017-12-13 13:04] rhyneav commented on #111
Classic Internet Explorer, ruining the fun ;)

But I'm surprised it looks glitched on Firefox.

[2017-12-13 13:39] antoninadert commented on #111
I don't think removing the animation is a good solution. Maybe investigate on an animation that doesn't glitch

[2017-12-13 14:01] antoninadert opened #112 "Color problems: beauty, affordance and accessibility"
I noticed some problems on the new version:
you can see the problem on buttons, alerts, backgrounds, borders, badges. (everything with colors)

What I can tell is: The primary color is dreary, I would have chosen something else for Papercss (something more cheerful, or more colorful, with a good affordance, maybe a deeper blue, so to contrast with the secondary color)

The warning color is too yel

[2017-12-13 18:24] afzalsayed96 commented on #111
I don't see a glitch in firefox on my PC

[2017-12-13 18:47] afzalsayed96 commented on #110
I've been trying to implement this feature already since last few days and I am facing the following problems.
Collapsibles can be implemented with checkbox where multiple sections can be expanded simultaneously. For accordions like this: [http://materializecss.com/collapsible.html] which should allow expanding only one section at a time get's messy, if we use radio buttons we cannot uncheck a che

[2017-12-13 19:00] #95 closed

[2017-12-13 20:22] TotomInc commented on #111
Can you give more info @afzalsayed96, OS and Firefox version?

[2017-12-13 22:39] DarkPaladinUHC commented on #112
I was just about to make an issue for this as well, I think that the yellow on yellow for alerts, buttons, ect is very hard to read.

![image](https://user-images.githubusercontent.com/22458879/33966080-e0d9c2b8-e023-11e7-9c45-04b61f487ebb.png)

The green on green for success isn't as bad but I could see it being hard to read for some people as well.

![image](https://user-images.githubusercontent

[2017-12-14 08:55] afzalsayed96 commented on #111
@TotomInc  Windows 10, Firefox Quantum 57.0.2 (64-bit)

[2017-12-14 09:18] antoninadert commented on #111
@TotomInc  I tested it on Windows 7, Firefox Quantum 57.0.2

[2017-12-14 12:59] TotomInc commented on #26
Closed since #114 have been merged. @rhyneav you can prepare 1.3.0?

[2017-12-14 12:59] #26 closed

[2017-12-14 13:26] rhyneav commented on #112
Totally agree, would it be best to make the backgrounds lighter or the text darker?

[2017-12-14 13:29] rhyneav commented on #26
You got it @TotomInc! I'll get that out today or tomorrow at the latest.

[2017-12-14 13:54] TotomInc commented on #112
Maybe we can use the same colors as [Bootstrap](https://getbootstrap.com/docs/4.0/utilities/colors/#color)? Since we are using the same color-name, we can also use their colors.

[2017-12-14 14:18] antoninadert commented on #112
What about having our own color identity ?

[2017-12-14 15:19] DarkPaladinUHC commented on #112
@rhyneav I would say text darker but I would have to see it to be sure.

[2017-12-14 15:20] DarkPaladinUHC commented on #112
@TotomInc I think that the colors that we have going already are nice, we just need to improve the readability on some components.

[2017-12-15 02:30] Rach-Coster commented on #101
Could I have a go at including animation to Paper Css? It looks like the least daunting thing I can do for this amazing project @Fraham

[2017-12-15 02:30] Rach-Coster commented on #101
Can we also put the label 'beginner friendly' to this issue please :)

[2017-12-15 02:31] Rach-Coster commented on #112
Maybe something like this: http://clrs.cc/

[2017-12-15 05:32] TotomInc commented on #101
Of course you can @Rach-Coster!

[2017-12-15 13:09] rhyneav commented on #101
Awesome! What components specifically will get animations?

[2017-12-15 14:27] rhyneav opened #115 "PaperCSS v1.3.0 Released!"
Check it out: https://github.com/papercss/papercss/releases/tag/v1.3.0

[2017-12-15 15:18] TotomInc opened #116 "1.3.0 is broken, need to prepare 1.3.1"
Just realized that 1.3.0 is broken, due to missing imports in `modals.less`, when running `gulp build`. I've just fixed it and I'm going to do a PR, but @rhyneav you need to prepare for 1.3.1 please.

[2017-12-15 15:22] TotomInc commented on #115
And it's broken... See #116 for more info.

[2017-12-15 15:30] TotomInc opened #118 "Add a test with gulp build command"
With the recent release of 1.3.0 which was broken it is a must have to introduce the gulp build command in our tests. Is it possible @fraham?

[2017-12-15 18:04] afzalsayed96 commented on #116
This was my mistake sorry about that :(

[2017-12-16 14:01] rhyneav commented on #115
Ahh dang, it was nice while it lasted!

[2017-12-16 14:16] rhyneav commented on #116
All good everyone! Things should be back to normal with [v1.3.1](https://github.com/papercss/papercss/releases). If nothing else, it's pretty easy to pump out 1.3.2 if need be :)

[2017-12-16 14:16] #116 closed

[2017-12-16 14:16] #115 closed

[2017-12-16 14:17] rhyneav commented on #118
I think this would also be a good use case for linting. It would catch the lack of import in modals. I'll have some time this weekend to get Prettier set up.

[2017-12-16 14:19] rhyneav commented on #112
Definitely agree with colors needing to be updated. If anyone could link in some screenshots of suggestion, they would be well received! :D

[2017-12-16 21:56] rhyneav commented on #110
Merged in #113 :D

[2017-12-16 21:56] #110 closed

[2017-12-18 06:54] koester commented on #33
I'd love to help refactoring for a SCSS port. I've rewritten less to scss before and since less2scss can only do 'the basics' we should manually take a look at every component (and the compiled css) to make sure that a) the compiled css will not change in a way that could break existing projects and b) use the refactoring to write scss code that's easily maintainable in the long run and to fix bug

[2017-12-18 07:37] TotomInc commented on #33
By the way, 1.3.1 is out @MunifTanjim. It includes modularized version and some new features.

[2017-12-18 08:14] koester commented on #33
I think we should get the scss port out reasonably soon, as the code base is still pretty small and to reduce the work for new features. I can jump in to get the port on track. I should be able to get a working scss port by the end of the day, if that's okay with @MunifTanjim

[2017-12-18 09:11] TotomInc commented on #33
I doubt @MunifTanjim started to work on the SCSS port.

[2017-12-18 10:09] koester commented on #33
Alright :tada: I will probably start at around 6pm CET. :relaxed:

[2017-12-18 13:05] rhyneav commented on #33
Awesome! I'll hold off on merging in any PRs that touch the Less code,

[2017-12-18 15:37] afzalsayed96 opened #120 "Presentation issue in mobile"
- There is slight scroll in the right direction on mobile. Although, coincidentally a pinch of imperfection is the theme of framework 😉  it can create a bad impression for a CSS framework to allow scrolling with no content.

![1](https://user-images.githubusercontent.com/14029371/34113738-afd26604-e436-11e7-84db-6ff2e3720f65.jpg)

- Paper buttons have `background: transparent` and `display: inline

[2017-12-18 17:15] MunifTanjim commented on #33
@koester I haven't started working on it. If you want to do this, go forward. :smiley: Let me know if you need any help.

[2017-12-18 20:24] valerymelou commented on #33
I'll be glad to help to @koester . Let us know if you need any help on that.

[2017-12-18 22:57] rhyneav commented on #33
Since we'll have a group working on this, it'd likely help to keep some organization. I've created a [project to keep track of each LESS file](https://github.com/papercss/papercss/projects/3) in the source to keep track of progress. Issues can be opened for each card as needed!

Also, since changes will be made incrementally, I've created the branch `scss-conversion` for changes to be merged to. O

[2017-12-19 06:12] koester commented on #33
I'll send a PR with the initial scss build later today. The refactoring takes a bit more time than I anticipated but I'll get it done.

@valerymelou @MunifTanjim you're welcome to review the code once I send the PR.

I think I will also take care of the gulp tasks and update the package, so there will be a bit to review here :grin:

[2017-12-19 06:22] koester commented on #33
@rhyneav how would we version this? Since this is a major refactor of the source (the css output will be the same). Do it the Angular way and jump straight from 1.3.1 to 2.0.0?

[2017-12-19 07:59] TotomInc commented on #33
@koester we can jump straight to 1.4.0, not 2.0.0. IMO 2.0.0 is for a complete refactoring of the code, including a totally new style (and features), a bit like Bootstrap 3 vs Bootstrap 4. A refactor of the code with no visual change doesn't have have to jump straight to 2.0.0.

[2017-12-19 08:39] koester commented on #33
Yea you're right. Just thought about making it clear that if you're using the less source files of the project and you want to update to 1.4.0 that things will break for you. But we can add that to the top of the Readme I guess.

[2017-12-19 14:15] antoninadert opened #121 "Switch component"
As we have paper checkboxes, another flavor of the same is the switch component:

![image](https://user-images.githubusercontent.com/8929314/34161029-7d7ec046-e4cf-11e7-91e3-fcff9bad52b4.png)

What about doing these paper style ?

[2017-12-19 22:47] Rach-Coster commented on #121
Anyone working on this cause if we have the art I am keen to implement.

[2017-12-20 07:39] TotomInc commented on #121
What do you mean by art @Rach-Coster? Some graphical assets? A preview of what people expect as a switch component in papercss?

[2017-12-22 15:04] afzalsayed96 commented on #120
The solution for button problem here might be changing CSS property to `display: inline-block` and `background: white`

[2017-12-27 16:52] rhyneav commented on #121
I saw [this codepen](https://codepen.io/AllThingsSmitty/pen/EbJNXY) on Reddit and liked its implementation. Just needs a little more paper-y feel.
![peek 2017-12-27 11-50](https://user-images.githubusercontent.com/13633775/34387470-583d5648-eafc-11e7-8260-c45a87067302.gif)

[2017-12-27 17:11] rhyneav commented on #33
This is now in develop and will be released as [version 1.4.0](https://github.com/papercss/papercss/tree/release-1.4)! Exciting stuff, and thank you for everyone's contributions!

[2017-12-27 17:11] #33 closed

[2017-12-27 17:26] rhyneav commented on #10
Hey @brodybits I'm going to go ahead and close this for now. Feel free to reopen if you want to go in and add details on Patch-package! I think it could be useful for those wanting to override some PaperCSS styles if they `npm install papercss`

[2017-12-27 17:26] #10 closed

[2017-12-27 23:45] y471n opened #124 "Dropdown in PaperCss Style"
Can there be a cool dropdown too for paper style css?

[2017-12-27 23:50] #124 closed

[2017-12-28 16:45] mazipan opened #125 "May we add the showcases for any implementation ?"
Thank you for this unique css.
Very out of the box style.

I just created an Admin Template Layout with this CSS here :
https://github.com/mazipan/papercss-admin-dashboard-template

Still very simple and many things still need to be improved, but I know all the awesome collaborator will do the best to make this CSS better.

I think will be good for Us, to have some showcases which website using th

[2017-12-29 15:38] rhyneav commented on #125
I think that's a great idea! I would love to have a section to showcase the different things build with the framework. I also like your implementation of the admin dashboard. Awesome stuff!

[2018-01-02 09:36] antoninadert commented on #121
@rhyneav  This looks good, but what about having 2 labels of extremely different size? -> won't look good.

As well I believe this implementation looks more like a toggle button than a switch (even if they are functionally similar, as for checkboxes)

Maybe have both the 'toggle button' flavor and the 'switch' flavor ?

I believe a switch is better structured with a separate label and then the swi

[2018-01-03 12:49] rhyneav opened #128 "PaperCSS 1.4 Released"
Featuring the [rewrite to SCSS](https://github.com/papercss/papercss/pull/122), brand spanking [new documentation site](https://github.com/papercss/papercss/pull/82), and [collapsibles](https://github.com/papercss/papercss/pull/113)! This was a huge release, and thank you to everyone involved!

Check out the [release notes](https://github.com/papercss/papercss/releases/tag/v1.4.0), and the new [ge

[2018-01-03 13:43] koester commented on #128
Best release the year 🎉  🍾

[2018-01-03 23:25] rhyneav commented on #70
After doing some research, it looks like Prettier is used more to auto format code, whereas a linter like [stylelint](https://stylelint.io/) is better suited for warning about inconsistent code formatting. It's also nice to have the code base now in SCSS as there are a lot more tools in this department than for LESS.

After an initial run with stylelint, it looks like a lot of style tweaks are nee

[2018-01-04 10:21] tan-ahmed commented on #128
amazing, great work all!!

how are you feeling about SASS vs Less?

[2018-01-04 12:47] antoninadert commented on #112
Hello everyone, I am not sure if this helps, but this article: https://www.usertesting.com/blog/2014/12/02/color-ux-conversion-rates/
is very well done and will help to choose better colors I believe

[2018-01-05 03:00] ayip001 opened #129 "Close modals when clicking out of the modal"
I think modals should be closed when clicking outside of the modal.
Current behavior:
Clicking on the gray area outside of the modal box does nothing.
Improved behavior:
Clicking on the gray area outside of the modal box closes the modal.
Improved behavior demonstration from w3schools:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal

[2018-01-05 07:52] koester commented on #129
I think we wanted to keep it Css only. Closing the modal when clicked outside is not possible with just css, AFAIK.

[2018-01-05 07:52] TotomInc commented on #48
This can be closed since it is actually done on develop branch.

[2018-01-05 07:52] #48 closed

[2018-01-05 07:54] koester commented on #120
This should be closed as it was fixed in 1.4.0

[2018-01-05 07:55] TotomInc commented on #129
I haven't seen of modals are made, but can't we trick it by creating a "fake close button" on the backdrop? This way when we click outside of the modals, it act like the closing button.

[2018-01-05 07:57] #120 closed

[2018-01-05 08:52] ayip001 commented on #129
Found a CodePen as @TotomInc described
[Pure CSS modal box
A Pen By Kasper Mikiewicz](https://codepen.io/Idered/pen/vytkH)

[2018-01-06 15:24] rhyneav commented on #128
I'm mostly used to Less, but they're so similar that it's not too challenging to figure out the differences @tan-ahmed. Overall, I like SASS mostly because of the bigger community around it :)

[2018-01-06 15:30] rhyneav opened #130 "Center Align Modals"
When a Modal is created within a container, it causes it to be centered within that container rather than within the entire page. If the container is not centered on the page, it looks a little off...

![image](https://user-images.githubusercontent.com/13633775/34641073-540068ae-f2cc-11e7-94f9-15229634310f.png)

This could be remedied by either updating the modal SCSS or by changing the placement

[2018-01-06 15:32] rhyneav commented on #129
Very cool! I did not realize that was possible.

[2018-01-08 14:07] koester commented on #111
@antoninadert do cards still feel glitchy after the 1.4.0 release? I just tested in FF and it doesn't feel glitchy, but I'm also not on Windows 7 right now, so could you test this again?

[2018-01-08 15:34] #130 closed

[2018-01-08 15:35] rhyneav commented on #129
Thank you @koester for adding this! It's been merged into develop and will be available in the next release.

Feel free to check out the develop branch and build the CSS if you'd like this feature now.

[2018-01-08 15:35] #129 closed

[2018-01-08 15:36] #128 closed

[2018-01-08 15:38] rhyneav commented on #73
Looks like this has been resolved in 1.4. New code now reads as

[code]

[2018-01-08 15:38] #73 closed

[2018-01-08 15:57] antoninadert commented on #111
Hello, Yes basically it is still the same on cards, even if it's not so bad, it only feels bad if I mouse in and out quickly.

Cheers

[2018-01-08 22:46] sullivanpt opened #132 "gulp-sass should be moved into dependencies"
Trying npm install papercss@1.4.0 (on Windows 10) and I'm getting this error.  I think the simple fix is to move gulp-sass from devDependencies to dependencies. Also some additional changes related to hugo/docs are needed, detailed below.

[code]

And after moving gulp-sass into dependencies there are more postinstall errors trying to build the hugo docs.   I could work through these, but as the d

[2018-01-09 12:21] TotomInc commented on #111
Isn't this issue mostly related to browser or computer? Like @afzalsayed96 I don't have any glitch like you explained @antoninadert. It can be related to Windows itself too (especially when you change Windows settings about performance and rendering).

[2018-01-09 13:09] antoninadert commented on #111
Well ideally it should work fine on all kind of machines, my computer specs:

[code]

[2018-01-09 13:19] TotomInc commented on #111
Not a big issue but I agree it's annoying. However we need to know if more people have this error. By looking at your specs (which are really fine), there could be a lot of factors which Windows can involve in web-browser rendering. For my case, both on Windows and MacOS, I've never seen this glitch.

The best thing to do, in your case, is maybe creating a VM with a Windows or Linux and see if the

[2018-01-09 13:30] antoninadert commented on #111
I have a Windows 10 computer at home I will try. I don't have any VM setup currently and no memory space

[2018-01-09 16:56] koester commented on #111
I justed tested FF, Edge & IE10 on Windows 7 and in all three the transitions were really smooth. No glitching or jagged text like in your gifs.

I dont see how this could be connected to Windows 7, or any OS, in gerneral. Did you maybe change your GPU settings thats causing performance issues in browsers now?

Could you record your performance in FF when hovering over the cards? You can do this b

[2018-01-09 17:27] antoninadert commented on #111
As well I notice it appears more on the longest cards, and it's almost unnoticeable on the shortest.

I tried your test and I got between 60 and 54 fps (quite good!)

The bug is not in the FPS drop, it is that the text seems to move very slightly when I go in and out of the card.

Haha this one will be hard to tackle

[2018-01-09 22:30] #132 closed

[2018-01-11 06:39] koester commented on #111
Oh OK. That sounds like a problem with rendering the css transforms properly. Magic `backface-visibility: hidden` on the cards and container could help with rendering.

[2018-01-11 06:39] koester commented on #111
Oh OK. That sounds like a problem with rendering the css transforms properly. Magic `backface-visibility: hidden` on the cards and container could help with rendering.

[2018-01-11 08:49] TotomInc commented on #111
I wasn't aware of this property, are you working on a fix @koester ?

[2018-01-11 09:58] koester commented on #111
I cant reproduce the bug myself so I'm just guessing. :smile:

@antoninadert can you test again here: https://deploy-preview-135--astronaut-pig-36111.netlify.com/docs/components/cards/ ? In FF this should fix the problem.

[2018-01-11 10:28] antoninadert commented on #111
Indeed it is fixed in FF with this ! WIN

But IE is more picky lol

[2018-01-11 10:32] TotomInc commented on #111
@koester looks like `will-change` property [is not supported in IE 11](https://caniuse.com/#search=will-change), while `backface-visibility` seems [to be supported](https://caniuse.com/#search=backface-visibility) on a lot of browsers.

[2018-01-11 10:53] koester commented on #111
Yeah I knew `will-change` is not supported in IE. We could change the shadow `:hover` for IE, but I don't know if its worth the effort.

But its working in FF atleast :laughing: :tada:

[2018-01-11 11:17] koester commented on #111
Ok, I *think* it *should* work now in IE too, without any browser hack. I had to change `@mixin translate` a bit to change the cards `:hover` transition.

@antoninadert just one more test, please? :dancer:

[2018-01-11 14:13] antoninadert commented on #111
I tried on IE but it still does the glitch (some text row move a little)

[2018-01-11 14:15] TotomInc commented on #111
IMO it's not a big deal for IE, there are a lot of properties that are not available/working on IE, even with some polyfills or hacks. What are your thoughts @koester ?

[2018-01-11 15:04] antoninadert commented on #111
haha I hate IE as well :dagger:

[2018-01-11 17:35] koester commented on #111
At least we fixed it for FF, that was the important one. We should leave IE as is for now. It's not worth the effort right now imho

[2018-01-11 20:55] sullivanpt commented on #132
Hi, although it's not a blocker, would you consider releasing a patch with this fix in the near future?

[2018-01-12 00:19] antoninadert commented on #111
agreed ! a good thing would be more components.

[2018-01-12 00:20] antoninadert opened #136 "Add a CSS UI error manager for forms"
So basically when a form is in error state, it can show a bubble explaining the reason of the error,
 paper style

[2018-01-12 09:21] antoninadert opened #137 "Menu component"
Hello, it would be good to create a Menu and MegaMenu components, paper style.

The menu would basically display a list below the link/button that opened it. It can then have sub-menus

The MegaMenu would display a div of desired width, where I get full control to display what I want (a grid inside)

What do you think?

[2018-01-12 13:29] rhyneav commented on #137
I think this and a navbar would be great! Some work on a navbar is open in PR #39

[2018-01-12 13:31] rhyneav commented on #132
I think that's a good idea @sullivanpt. A fix for modals has also been introduced so a patch release with both would be beneficial. I'll get that together this weekend :)

[2018-01-12 13:37] rhyneav commented on #136
Could you please show an example of what you mean by this?

[2018-01-12 23:15] antoninadert commented on #136
I was thinking of something along these lines:
![image](https://user-images.githubusercontent.com/8929314/34899041-d74cf266-f7f6-11e7-8217-090076251cc6.png)

[2018-01-13 21:33] #111 closed

[2018-01-13 21:37] rhyneav commented on #132
@sullivanpt [version 1.4.1](https://github.com/papercss/papercss/releases/tag/v1.4.1) is now available on Github, NPM, and the CDN. Hope this helps!

[2018-01-24 16:57] antoninadert commented on #62
Soon we will have web components so it could involve js easily. Meanwhile we could go as standalone React components maybe.

Having a css-only library is a must have though, I believe this is a very good approach and we should not pollute this library with js => Create another repo for js

[2018-01-28 13:40] tan-ahmed commented on #101
GSAP is the standard animation library, besides a fadeIn you can write up in like a few mins, I cant see what sort of benefit it may add at all. You could even use animate.css along side this library, its pretty much reinventing the wheel.

[2018-02-02 13:34] y471n opened #138 "CSS Modal Conflicting with Bootstrap 4 Beta 3 Css"
On using Bootstrap 4 beta 3 version, Modal does not work.

[2018-02-04 20:27] rhyneav commented on #138
Could you please provide some additional details or screenshots by what you mean? Since PaperCSS is implicit with a lot of its styles, it can sometimes not play nice with other frameworks.

[2018-02-05 08:56] TotomInc commented on #138
It's highly recommended to not use any other CSS framework while using PaperCSS. It can lead to some incompatibilities becuase of the use of shared classes. Also Bootstrap modals use JS while PaperCSS use pure css, which can also lead to bugs.

[2018-02-05 09:02] koester commented on #138
Could you create a codepen with the modal code you're trying to implement and post the link here? I'd like to see the exact cause of the bug, although I think @TotomInc and @rhyneav are correct.

Should we add a paragraph about this to the Readme to avoid confusion?

[2018-02-06 02:00] rhyneav commented on #138
That’s a good idea @koester. It doesn’t explicitly say “doesn’t play nice with others” anywhere in the docs.

[2018-02-22 17:05] TotomInc opened #139 "Bootswatch theme Sketchy is using papercss?"
So, I was browsing some Bootstrap themes on [bootswatch](https://bootswatch.com) and I see the [Sketchy](https://bootswatch.com/sketchy/) theme which looks like PaperCSS. Can someone confirm this?

If true, I find this really amazing to see this framework implemented in a very popular bootstrap theme creator.

[2018-02-22 17:56] afzalsayed96 commented on #139
![image](https://user-images.githubusercontent.com/14029371/36555316-9c08986c-1827-11e8-88e0-fc52a601dda7.png)
There's no mention of it being based on PaperCSS anywhere though

[2018-02-22 19:08] rhyneav commented on #139
Wow, that is really cool! Really like the fonts and colors used in Sketchy.

[2018-03-07 10:14] Rahmon opened #141 "Review padding"
The padding property is a shorthand property to set the four padding properties (top, right, bottom, and left) in one declaration.

In some cases, the padding has two equal values and could be use just a value. For example, in src/components/_buttons.scss:
`padding: .75rem .75rem;`

It's could be change to:
`padding: .75rem`

This inconsistency occurs in the files below:
- papercss/src/components/

[2018-03-07 10:26] TotomInc commented on #141
The `padding` could be changed to a variable for better consistency, this wil avoid further inconsistencies when implementing new components.

[2018-03-25 07:55] hacu9 opened #143 "Making it a full-fledged HTML, CSS, and JS Library"
Could it be possible to make it involve JS (in a different repo perhaps) and make this awesome library even easier to use for big projects

[2018-03-26 01:06] rhyneav commented on #143
A couple people have started on integrating PaperCSS with JavaScript frameworks as found on the [organization page](https://github.com/papercss). However, PaperCSS will remain a CSS framework.

Are there any features you'd like to see added that would require JS? Some of the fun is trying keep features within the CSS constraint.

[2018-03-26 06:30] TotomInc commented on #139
So I'm not really into licenses, but is it required to put a mention for papercss? Looks like the style is heavily based on papercss.

[2018-03-26 06:32] #138 closed

[2018-03-26 06:32] TotomInc commented on #136
Didn't this involve some JS?

[2018-03-26 08:12] antoninadert commented on #136
that's a good point. Is there no way to handle this with pseudo-selector :focus in pure CSS?

[2018-03-26 08:16] TotomInc commented on #136
It looks like you can use `:valid` and `:invalid` pseudo-selectors to manipulate the content to display on the input. But I feel like it will be a lot more trickier.

[2018-03-26 09:16] antoninadert commented on #136
I believe we should not try to do too much logic here. It could be useful to have a paper-style UI error,  but to manage the logic let's do it in javascript.

I believe papercss should just provide the style, so I wouldn't go for the :valid and :invalid selectors, since they cannot handle custom cases.

[2018-03-26 09:57] TotomInc commented on #136
Providing the style is a good idea, for example if someone is using papercss with vuejs, angular, react, ... he will benefit of the automatic form validation with the style of papercss. I belive most frameworks nowadays adds a `:valid` or `:invalid` pseudo-element when a form is valid/invalid.

[2018-03-27 12:38] antoninadert commented on #121
@rhyneav I believe you should go with your version of the switch since you are almost there. My arguments were not against your point. I believe it is already good to have something like your codepen example

[2018-03-27 16:51] rhyneav commented on #139
Same here @TotomInc. But since it just looks similar and not actually using PaperCSS, I don't believe any attribution is necessary. I'm just happy to see more sites that look hand drawn! :)

[2018-03-27 19:43] TotomInc commented on #139
IMO it looks like he just ripped some code from papercss, because I have the feeling that buttons (e.g.) are 100% the same in terms of border and border-radius. The only thing that change are the colors used.

But if it's okay for you, we can close this issue. I wanted to know if he needed to put a mention for papercss (at least for the inspiration... 😕 )

[2018-03-27 19:43] #139 closed

[2018-04-01 18:32] dallinbjohnson opened #144 "New Navbar!"
I would like to contribute a Navbar for Papercss! @rhyneav
![screen shot 2018-04-01 at 12 20 35 pm](https://user-images.githubusercontent.com/25631483/38176210-5186006a-35a8-11e8-82c3-95df40ca826b.png)
![screen shot 2018-04-01 at 12 20 58 pm](https://user-images.githubusercontent.com/25631483/38176220-73170ab2-35a8-11e8-84f9-6467753bf21d.png)
![screen shot 2018-04-01 at 12 22 08 pm](https://user-i

[2018-04-02 01:07] rhyneav commented on #144
Awesome! Love that it's responsive. Is that entirely CSS?

To create a pull request, fork the PaperCSS repo to your account. Then follow [the instructions here](https://github.com/papercss/papercss#contributing) to create a new branch with your navbar feature in it. Be sure to check out #39 as well for comments on this feature. It might be a good place to start!

For adding the styles, I'd recomme

[2018-04-02 04:28] dallinbjohnson commented on #144
It is mostly css! but to make it responsive I had to write a little JS to make it work how it has been set up. @rhyneav

[2018-04-02 08:55] koester commented on #144
I like the concept, but why don't you change the HTML Markup to use an input as a trigger for the burger icon?

I guess you only added JS for an event listener? IMHO you can work around that with just HTML and CSS.

[2018-04-02 11:57] rhyneav commented on #144
Good call, @koester! I believe that's what was done in #39 as well.

The HTML snippet:
[code]

[2018-04-02 16:00] dallinbjohnson commented on #144
This is the HTML That I am using for the navbar. The js I am using just unchecks the checkbox when it's a small screen and checks it again when its big.  Thanks for the links that yall have given me to check out.  I have not figured out how to have the navbar hide when it gets small and shows when it gets big.

[code]

[2018-04-02 16:02] dallinbjohnson commented on #144
This is the all the js that I am using.

[code]

[2018-04-02 16:33] koester commented on #144
I think the main problem lies in your HTML Markup. Check the source on this site: https://www.rockahula.de or #39

You dont have to check or uncheck the checkbox based on screen width. Think about it this way: The input is only used as a trigger to show the menu when its hidden and close it when its open. On laptop and desktop devices there is no need to trigger anything, so you just hide the chec

[2018-04-02 17:15] dallinbjohnson commented on #144
CodePen: https://codepen.io/Diddle-dj/pen/QmxpGG

[2018-04-03 07:25] dallinbjohnson commented on #144
never mind I figured out the problem!  Thanks, ya'll!!

[2018-04-03 11:20] rhyneav commented on #144
Wonderful explanation @koester!

[2018-04-20 09:42] jeet-parekh opened #147 "Check boxes and radio buttons not working?"
Awesome project! Thanks for creating and sharing it.

The check boxes and radio buttons aren't working. There isn't any change in them after clicking. Even on the website https://www.getpapercss.com/docs/components/forms/.

I was wondering if it's broken, or is there some attribute to enable it?

[2018-04-20 09:56] TotomInc commented on #147
What browser are you using? I have just tried on IE 9 and it doesn't seem to work

[2018-04-20 09:59] jeet-parekh opened #148 "Let text input box and select box have same height"
Currently the text input box and select box heights are not same. It looks inconsistent because of that.

![Inputs](https://user-images.githubusercontent.com/12874561/39044960-4195d5d4-44af-11e8-8b56-e2c106407a9e.PNG)

Would it be possible to make them have same height?

[2018-04-20 09:59] jeet-parekh commented on #147
I'm on firefox 59.0.2

[2018-04-20 10:13] koester commented on #147
Tested it on chrome mobile and it's working as intended. What behavior did you see and what did you expect?

[2018-04-20 10:16] TotomInc commented on #147
I think it's when clicking on the radio button, it still looks empty. I got this bug with IE 9. What is strange is that Firefox just lose the support for this? IIRC, it always worked well with Firefox and Chrome.

[2018-04-20 11:55] jeet-parekh commented on #147
Exactly that. The check boxes and radio buttons look empty after clicking.

[2018-04-20 13:07] rhyneav commented on #148
Hmm, is this another Firefox issue? I agree that the inconsistent input heights is not a good look.

On Chrome, both inputs are 47px tall

![image](https://user-images.githubusercontent.com/13633775/39052469-138c3550-447a-11e8-938f-09b3534a9833.png)

[2018-05-24 12:35] rhyneav commented on #144
Merged in #145!

[2018-05-24 12:35] #144 closed

[2018-06-22 15:27] rhyneav commented on #70
Added in 1.5.0 :)

[2018-06-22 15:27] #70 closed

[2018-06-23 22:22] unlight opened #151 "papercss postinstall script fails with Error: Cannot find module 'gulp-stylelint'"
Having `papercss@1.5.0` as devDependency
[code]
Fails with:
[code]

[2018-06-24 10:32] TotomInc commented on #151
Looks like this error pop-up after the release of 1.5.0, which include stylelint.

We listed `gulp-stylelint` into the devdeps which are not installed by default and you need them on the `postinstall` task. If you need a quick-fix while we publish a fix, you can run `npm i gulp-stylelint`. Let me know if this fix temporarily your issue.

@rhyneav what is the purpose of the stylelint postinstall? I

[2018-06-24 11:54] rhyneav commented on #151
Totally my fault, sorry. The linter is just imported in the gulpfile and isn't being run postinstall. Since gulp-stylelint isn't installed it's throwing the error. I needed to have used: `gulpStylelint = optional('gulp-stylelint');` rather than `require`. I'll release a fix now.

[2018-06-24 12:25] #151 closed, assigned to nobody

[2018-07-02 11:11] antoninadert opened #152 "Cards with Max-height"
Hello,

I would like to have a maximum height on the cards, so that I can control that a card is always fully visible in the viewport.

I didn't find a simple way to make it by adding the property on the card container, because the box will resize but the content will overflow by the bottom of the container.

so I ask the community if there is a simple way to do it by adding some CSS?

Ideally the

[2018-07-04 12:43] rhyneav commented on #152
Hi! Could you please provide an image of what you mean by "the content will overflow by the bottom of the container"?

If I understand correctly, you may have to use media queries to change the text size in order to keep it in the box:
[code]

It might also be worth looking into using `overflow: scroll;` if you'll have many boxes of different length text. Otherwise, you might need to tap into JS.

[2018-07-04 13:34] antoninadert commented on #152
Hey @rhyneav  I think you understood well.
Just to clarify, this is to use in a Tinder-like setup. I wish I had one card at a time on screen !

So now if I have a setup too small in height, the scrollbar will appear:
![image](https://user-images.githubusercontent.com/8929314/42278971-98ac4024-7f9c-11e8-93e8-7337cc5b95b6.png)

Now you were totally right, if I change the property max-height on the .

[2018-07-05 19:44] rhyneav commented on #152
Sounds good! Glad you were able to get it going.

I'll go ahead and close this for now, but feel free to open a PR if you want to add the full height cards to PaperCSS ;)

[2018-07-05 19:44] #152 closed

[2018-08-16 00:04] 2020-abhilash commented on #147
I did see this behavior in Chrome for about 10 seconds it didn't work and while clicking on the checkboxes and radio buttons continuously the page did seem to freeze while scrolling, but then after a few seconds it started working fine without any issues. Got a feeling that it is bit of a performance intensive action.

[2018-08-16 22:26] rhyneav commented on #147
Hmm, that might be the case. The checkbox and radio buttons are a background image. Maybe it's taking a few seconds for them to load.

[2018-08-16 23:19] Youngestdev opened #153 "Update dependencies."
Hi, the dependencies for `papercss` are prone to attacks. It'll be nice if the dependencies are updated to their latest version to reduce the risks of attacks on website using the node module.

[2018-08-18 12:11] jeet-parekh commented on #147
Still not working on firefox though. I'm testing on the [papercss docs website](https://www.getpapercss.com/docs/components/forms/). I even waited 30 seconds. That website definitely isn't performance hungry. I was able to scroll just fine. But couldn't toggle the check boxes and radio buttons.

[2018-08-18 17:26] rhyneav commented on #147
Hmm, I can try to take a look this weekend, but a PR is always welcome if anyone finds the fix!

[2018-09-02 15:42] rhyneav commented on #153
I looked through [the dependencies](https://github.com/papercss/papercss/network/dependencies) and did not see any vulnerabilities at a quick glance. Where there any specific dependencies that you saw are vulnerable?

[2018-09-08 11:30] rhyneav commented on #147
Fixed in [v1.5.2](https://github.com/papercss/papercss/releases/tag/v1.5.2)

[2018-09-08 11:30] #147 closed

[2018-09-13 20:38] pynej opened #155 "Link underline style"
I'm not really sure the link underline goes well with the theme look and feel. I am thinking more of a single squiggly underline would be better. I don't have the skill alter the background-image gradient though through.

[2018-09-27 13:44] kubami9 commented on #148
Beginner here, is it free to take? 😅

[2018-09-29 16:07] rhyneav commented on #148
All yours @kubami9!

[2018-09-29 16:12] rhyneav commented on #155
I hear you, a revamped design on the link styles would be well received! Something that better matches the button styles would look good.

[2018-10-08 17:51] afzalsayed96 commented on #155
Let me take a look at this

[2018-10-15 13:27] hasparus opened #162 "Keyboard controls on named radios don't work"
Just found a bug. Keyboard controls on radio inputs with "name" set don't work when "paper-radio" class is applied.

Steps to reproduce:

1. Go to https://www.getpapercss.com/docs/components/forms/
1. Focus one of radio inputs and try moving with keyboard arrows -- won't work.
1. Remove "paper-radio" class from radio inputs.
1. Now you can change your selection using keyboard.

[2018-10-29 11:05] TotomInc commented on #153
There are a lot of dependencies prone to attacks, I'm working on it.

[2018-10-29 13:00] TotomInc commented on #141
Looks like the inconsistency have been fixed some day, closing this issue.

[2018-10-29 13:00] #141 closed

[2018-11-05 14:19] #153 closed

[2018-11-05 14:36] #143 closed

[2018-11-07 12:37] rhyneav commented on #118
Closing now that we have linting in place.

[2018-11-07 12:37] #118 closed

[2018-11-09 08:50] serotonyn commented on #155
I would like to contribute and make my first Pr. I cloned the project to contribute on this issue, but then I saw some tools that i'm not familiar with like jade and gulp. Do you thing that I have to do some research on those before going any further ?

[2018-11-09 09:51] TotomInc commented on #155
Hi @serotonyn and thanks for taking the time to contribute!

You don't really need to do some research on gulp and jade, they are tools we use to automate tasks and run tests, in other words this simplify the development of the framework (we already configured them) without the fear of breaking something.

However, these tools are very common in web-projects and I recommend you to take a look at w

[2018-11-10 15:06] reneroth opened #167 "npm command wrong"
`npm install papercss –save`

should be

`npm install papercss -save`

notice the different dash :)

[2018-11-14 09:19] serotonyn commented on #155
Hi @TotomInc. I appreciate your welcoming attitude :)

Do you think this could be acceptable for matching the button style ?

![image](https://user-images.githubusercontent.com/22910212/48472377-6eb31000-e7f6-11e8-958b-f2a7b8f041b0.png)

And does it have to be a background image with a linear gradient ? The demo is done using an after pseudo element.

[2018-11-14 09:57] TotomInc commented on #155
This looks great in the PaperCSS style, what do you think @rhyneav?

I think you need it to be an `:after` pseudo-element to make it entirely customizable (like a `div`). So in our case, we remove the default `text-decoration` and instead apply a `:after` pseudo-element.

[2018-11-14 14:20] serotonyn commented on #155
Exactly, so i'm going to read through the contributing.md and prepare my first PR ! I'm so excited 😅

[2018-11-18 21:39] rhyneav commented on #155
Wow, that looks awesome! Good stuff @serotonyn

[2018-12-12 09:14] TotomInc opened #172 "Some components are not optimized for integration with third-parties frameworks"
I'm currently working on the vue-papercss integration and I realized that some components are not friendly with frameworks integration.

For example, the [collapsible component](https://www.getpapercss.com/docs/components/collapsible/) styling relies on the `label` and `input` tags. IMO, it should instead relies on classes, what do you think @rhyneav?

[Relevant lines for the collapsible component

[2018-12-22 06:39] Tentacular261 opened #173 "Navbar burger menu doesn't toggle in Firefox"
# The Issue
The navbar currently hides child links, other than the brand, in a burger menu for mobile devices. Once the burger menu is clicked, it is supposed to open a menu with all of the previously hidden links. However, in Firefox, the burger menu toggle doesn't open the menu:

[Image of burger menu that doesn't open in FF](https://prntscr.com/lycq2e)

It works great for Chrome, but it doesn't

[2018-12-24 13:17] rhyneav commented on #172
I agree with your point about each component including its dependencies at the top of the file. It will certainly help with seeing the exact dependencies.

While changing the label and input tags with classes would be more semantically correct, it would have to be a breaking change. Which could lead us to... PaperCSS 2.0.0! What do you think of us looking through for more of these situations and s

[2018-12-24 13:18] rhyneav commented on #167
Heh, nice catch guys!

[2018-12-24 17:03] TotomInc commented on #172
Heading to a v2 branch will be great, I have done the major stuff on vue-papercss and can now focus more on papercss.

[2018-12-24 23:59] koester commented on #172
Good idea about the import structure

And I get your point about classes instead of `label` or `input` tags, but my concern here is that this was what made papercss the less formal CSS framework. Maybe we need to discuss this in detail and see how we can tackle this problem, but either way that would be a major update.

[2018-12-25 00:00] #167 closed

[2018-12-25 19:14] TotomInc commented on #172
@koester so using a base file and having encapsulated component style seems to be the best way to do this.

[2019-01-29 13:08] Phreshhh commented on #173
Hi!

I maked the problem fix.
In Edge still not working, but soon Edge change its engine to Chromium, so will solve also.
The problem source was the button tag. I cutted off from the html and adjust to it the css.

I tired pull it, but the sh.t happends with the git..  I maked the fix in 2 minutes, but i cant fix the stylelint problem without modify the packages.json file.. but if i modify it, the

[2019-01-29 15:46] TotomInc commented on #173
This issue is actually being fixed in #179.

[2019-02-01 15:37] Phreshhh opened #182 "Horizontal accordion"
Hi!

I make for myself an horizontal accordion from the default vertical.

![horizontal-accordion](https://user-images.githubusercontent.com/32324661/52132418-66bd7c00-263f-11e9-9344-1fde85a51f46.jpg)

The problem with it the opened tabs with. The only one cross-browser solution (what i know) the width property changing.

I set it default (1px for closed and) 500px for opened, but for fill a row o

[2019-02-08 23:27] rhyneav commented on #182
Hmm, if you open up a PR I'll gladly take a look! As for non-fixed width, have you tried using `flex: 1` with a high max-width instead of a fixed width?

[2019-02-09 10:07] Phreshhh commented on #182
I tired some positioning and flex trick also, but zero success.. :(
I could fix it with other html skeleton. I think just need put in the div.collapsible 's to a flex container.
I will make another version with this html.

[2019-02-14 07:36] Phreshhh commented on #182
I can't make it. :(
This is the nearest result without fix width.
[accordions2_html.zip](https://github.com/papercss/papercss/files/2863779/accordions2_html.zip)

[2019-04-11 06:48] iShawnWang opened #187 "[Feat] Dark mode"
Since [macOS Mojave 10.14 introduce Drak Mode](https://developer.apple.com/documentation/macos_release_notes/macos_mojave_10_14_release_notes)
It is happy to see paper css also support dark mode, it's awesome ~

[2019-08-18 17:06] rhyneav commented on #187
As a dark mode user, this would be awesome. [Here's a good primer](https://css-tricks.com/dark-modes-with-css/) on how this could be introduced. It looks like just a simple media query:

[code]

[2019-10-20 04:05] bung87 opened #191 "provide a way let developers change font path in scss"
in case developers want using another cdn or serve font on own server or embed in application

[2019-12-02 19:44] marcuxyz opened #192 "flex-spaces not working with .cards class"
` flex-spaces ` not working with `.cards `class. Does anyone know how to fix?

Thanks

[2020-01-09 23:22] rhyneav commented on #192
Hey there, sorry for the delay! Could you please provide a code snippet of what's not working?

[2020-03-12 22:04] mzaini30 opened #194 "Problem in tabs"
# Problem

I was try to create tabs with your code in docs:

[code]

But, the result is content in right of tabs; not in bottom of tabs.

![image](https://user-images.githubusercontent.com/7939342/76570199-c6977f00-64ef-11ea-8a11-9e803d4baafe.png)

![image](https://user-images.githubusercontent.com/7939342/76570200-c8f9d900-64ef-11ea-9ba6-7d7d4160b6fe.png)

# Solution

I create `break` class and I

[2020-04-21 21:24] seifsay3d commented on #187
I have recently started to use papercss and I would like to have a dark-mode in my project so I thought that's a nice issue to tackle.

I have a couple of questions/assumptions that I would like to get clarity on.

1- Do we want to generate paper-dark-min.css and let the user load different builds using `@media (prefers-color-scheme: dark) `

2- If not, then I assume we would rely on css variables

[2020-04-22 05:31] #172 closed

[2020-05-17 22:42] rhyneav commented on #194
Hey @mzaini30, I'm not too familiar with Slim, but I think this might be an issue with your markup. `.content#content1 content 1` looks like it's indented under ` .row.flex-spaces.tabs` which is why it's on the same row (it's part of the same flexbox container). If you change your markup to the following, you should be okay without needing a custom `.break` class. (notice the indentation on the la

[2020-05-17 22:42] #194 closed

[2020-05-17 22:53] rhyneav commented on #187
Hey @seifsay3d sorry for the delay! You bring up a good point about IE (the problem child). Going against my own comment above, I think a solution without using media queries might be the best way to tackle this for now.

I really like your idea of having a simple `.dark` class that could be put on the `<html>` tag. That way we can leave it up to the user of PaperCSS if they want a dark theme or n

[2020-05-18 06:14] seifsay3d commented on #187
Sounds awesome, I'll give it a shot then 🕺

[2020-05-18 14:37] rhyneav commented on #187
That sounds great, thank you for taking it on! Let me know if I can help you in any way!

[2020-05-20 22:46] obuchmann-pc-web opened #197 "-- becomes – inside of code block"
First seen on https://www.getpapercss.com/ in the code block `npm install papercss –save`.

[2020-05-29 14:27] suchislife801 opened #198 "list-group implementation."
Greetings. Paper CSS is a really cool frame work and I was wondering if you would be implementing a list-group component similar to Bootstrap's  [list-group](https://getbootstrap.com/docs/4.5/components/list-group/)

[2020-05-31 00:38] rhyneav commented on #197
Ah yes, a fix has been merged in for that, but I need to deploy the updated docs. Thank you for the reminder, I'll close this issue after the deploy.

[2020-05-31 00:39] rhyneav commented on #198
Great idea! There are no immediate plans to add a `list-group` but I think it would be a welcome addition to the framework!

[2020-06-08 15:10] illupino opened #201 "Google Fonts?"
Does papercss use any google fonts or anything coming from an external source? if so, How can I upload and link the fonts on my webserver so to avoid google fonts calling google?

[2020-07-04 14:32] bellons91 opened #202 "Tabs content position on the right instead of below the tabs"
Hi,
I have troubles using the Tabs component, because it renders the content on the right of the tabs instead of below as in the documentation.

Here's the HTML
[code]

I've copy-pasted the examples from the [tabs page](https://www.getpapercss.com/docs/components/tabs/) and the [homepage](https://www.getpapercss.com/)

The result I get has the content of the tabs on the right of the labels
![image

[2020-07-06 22:02] koester commented on #202
Thank you for reporting this bug.

I've looked into this and it seems to be a problem on larger screens, but there is an easy fix for this.

To the `.tabs .content` class just add: `flex-basis: 100%;`.
[code]

I will probably not be able to fix this myself before the end of the week, so If you want to do it yourself feel free to open up a PR with a fix.

In the source we would need to add `flex-ba

[2020-07-06 22:09] koester commented on #201
We import [Patrick Hand SC](https://fonts.google.com/specimen/Patrick+Hand+SC) and [Neucha ](https://fonts.google.com/specimen/Neucha) from Google Fonts here:
https://github.com/papercss/papercss/blob/50dc605b36017812bc8261ebc88f30003a0848a9/src/core/_config.scss#L6

And define the font settings here:
https://github.com/papercss/papercss/blob/50dc605b36017812bc8261ebc88f30003a0848a9/src/core/_conf

[2020-07-06 22:09] #201 closed

[2020-07-06 22:11] koester commented on #197
@rhyneav can this be closed now? 😅

[2020-07-07 07:21] bellons91 commented on #202
Ok then, I'll work on it (also, it will be my first ever contribution to an open source project)

[2020-07-07 07:27] bellons91 opened #203 "Update README.md to specify that contributors need to install Python"
I've tried to run `npm install` on the repo to contribute with a project, but I get this error:

[code]

It should be specified in the Readme.md file

[2020-07-07 19:19] koester commented on #203
To transform the scss into plain css we use node-sass. Compiling on Windows machines requires the [node-gyp prerequisites](https://github.com/nodejs/node-gyp#on-windows).

[2020-07-10 07:31] bellons91 commented on #202
Sorry, I'm not able to run the project (or better, to install all the dependencies). So I give up with this issue and I'll wait for the next release...

[2020-07-10 09:46] #203 closed

[2020-08-01 19:29] #202 closed

[2020-08-01 20:21] rhyneav commented on #173
Fixed and deployed in version 1.7.0!

[2020-08-01 20:21] #173 closed

[2020-08-01 20:21] rhyneav commented on #121
Fixed and deployed in version 1.7.0!

[2020-08-01 20:21] #121 closed

[2020-08-01 20:22] rhyneav commented on #148
Fixed and deployed in 1.7.0!

[2020-08-01 20:22] #148 closed

[2020-08-02 22:47] luismadrigal opened #208 "Please verify that the package.json has a valid "main" entry"
Apparently package.json is referencing "main": "index.js" but there is not "index.js" file anywhere.

This problem happens on installs via yarn and npm.

[code]

Any workarounds?

[2020-08-03 12:18] rhyneav commented on #208
Hey @luismadrigal sorry to hear that! Can I ask what operating system you're on and what your current `package.json` file looks like? I was just able to install into an empty codebase with no problem, so I'm curious if PaperCSS isn't playing nice with another package.

As for workarounds, you can download the latest css files from the releases page here and use those in your application: https://g

[2020-08-03 21:06] luismadrigal commented on #208
Hi @rhyneav, thanks for getting back to me.

I'm on MacOS Catalina.  I'm developing a Rails (6.0.3.2) app and using yarn (1.22.4) npm (6.14.5) for installing the Node_Modules and webpack (4.44.0) complains about the invalid "main" : "index.js".

Here is the package.json from the Rails app

[code]

Let me know if you need anything else.

Thanks.

P.S.  I've downloaded papercss locally so I can star

[2020-08-04 20:21] defaultuser001 opened #209 "Forms into a modal not working on electron but in a normal browser yes"
With normal browser like google chrome, modals works correctly, but in electron 9.1.2 don't work, it shows a simple blank square

[2020-08-07 22:05] Benbb96 opened #210 "Styling input range (slider)"
Hi,

First of all, thanks for this beautiful framework!
I'm using it for a part of my website and it's looking really nice 😃

I'm wondering about changing a number input to a range one (a slider) and I've seen it's not currently formatted into the Paper style.
_How hard would it be to customise it?_

[2020-08-07 23:23] luismadrigal commented on #208
Hi @rhyneav, I'm realizing that the package.json you were asking about is the one for the papercss package, so I'm adding it here below.  I believe the line in question is line 5 **"main": "index.js"**

[code]

I hope this is more helpful.

Thanks

[2020-08-08 12:18] rhyneav commented on #209
Hey there! Sorry to hear that. Could you please provide a screenshot of what your seeing? That's certainly strange that Chrome and Electron are showing different things.

[2020-08-08 12:24] rhyneav commented on #210
That's awesome! We don't yet have any styles for range sliders in the library, but a PR would be very welcome! As for how hard that would be, I'm not too sure. Overriding the button looks to be [well supported ](https://www.w3schools.com/howto/howto_js_rangeslider.asp), and overriding the line to slide on will likely require some pseudo elements. All should be doable though!

[2020-08-08 12:25] rhyneav commented on #208
Both are super helpful, thank you for the information! I'll look into this further.

[2020-08-08 12:54] defaultuser001 commented on #209
Thanks for response!

i'm running electron on Linux Deepin (Debian). I'll test on windows 10 and write here if it works or no

Electron without modal:
![DeepinScreenshot_Seleccionar área_20200808093310](https://user-images.githubusercontent.com/58643218/89710553-a236b600-d95a-11ea-938b-019059d38890.png)

Electron with modal:
![DeepinScreenshot_Seleccionar área_20200808093320](https://user-images.g

[2020-08-08 13:07] defaultuser001 commented on #209
with windows 10 it's the same but more smooth and better lol

[2020-08-08 13:23] defaultuser001 commented on #209
Ok, it's solved, comment all of a javascript file and modal works

[2020-08-08 13:23] #209 closed

[2020-08-08 16:14] rhyneav commented on #209
Awesome! Glad it’s working for you now!

[2020-08-09 18:22] rhyneav commented on #208
Hey @luismadrigal I'm not able to reproduce this on my system. Could you please send the full install command you're running as well as the output? This is what it looks like for me:

With Yarn
[code]

With NPM:
[code]

[2020-08-15 14:39] ChocolateLoverRaj opened #214 "Security issue with old gulp-clean-css version"
## Upstream from [my npm package, canvideo](https://github.com/ChocolateLoverRaj/canvideo/issues/68), which depends on papercss.

## The security issue
I got a [dependabot alert](https://github.com/ChocolateLoverRaj/canvideo/network/alert/package-lock.json/clean-css/open) saying that clean-css has a minor security issue. Papercss depends on gulp-clean-css, which depends on clean-css. gulp-clean-cs

[2020-08-16 14:25] rhyne-vetcove commented on #214
Hi there! Yes please, a PR would be very welcome for this!

[2020-08-16 14:42] rhyneav commented on #214
Hi there! Yes please, a PR would be very welcome for this!

[2020-08-16 16:13] ChocolateLoverRaj commented on #214
Ok, thanks. I'll make a pull request.

[2020-08-16 16:15] ChocolateLoverRaj commented on #214
What version of gulp-clean-css should papercss use? It should be at least 3.9.3, but should I just do `npm update gulp-clean-css` and just use the latest version?

[2020-08-16 18:15] ChocolateLoverRaj opened #215 "Specify that contributors need python2 installed in CONTRIBUTING.md"
I tried doing `npm install` and it failed because I didn't have python. I think that #203 is valid and there should at least be one line in `CONTRIBUTING.md` about needing python.

[2020-08-16 21:40] ChocolateLoverRaj opened #216 "Update gulp-sass, gulp-plumber, and gulp-clean-css"
## gulp-sass, gulp-plumber, gulp-clean-css
All of the packages above depend on gulp-util, which is a deprecated package.
## Update [gulp-clean-css](https://github.com/scniro/gulp-clean-css/pull/50)
gulp-clean-css should be updated to at least v3.9.1, which is anyways being updated in #214
## Update [gulp-plumber](https://github.com/floatdrop/gulp-plumber/issues/63#issuecomment-458563723)
gulp-plum

[2020-08-23 19:16] rhyneav commented on #216
A PR would be great, thank you!

[2020-08-23 19:18] #214 closed

[2020-08-23 19:51] rhyneav commented on #215
Makes sense! I just pushed up 7383746. with these details.

[2020-08-23 19:51] #215 closed

[2020-08-24 06:49] TotomInc commented on #216
Gulp is kinda an old tool, I wonder if we can change the build-system to something like webpack that is more "future-proof" as some packages of Gulp are becoming deprecated.

If this migration makes senses, I can work on it.

@rhyneav

[2020-08-24 11:50] ChocolateLoverRaj commented on #216
@TotomInc  I'm a little confused what gulp does. I know papercss uses it to compile scss into css, but I don't understand why so many `gulp-something` dependencies are needed.

Also, why exactly do people who install papercss as an npm package need to install the dependencies and then build it. It seems like many extra steps for people who just want files in `dist/`.

[2020-08-24 12:09] TotomInc commented on #216
@ChocolateLoverRaj I think there are many improvements that can be done with the way we use gulp as our build-tool.

I have actually never (except for this project) built a SCSS framework, so I know better the state of build-tools for JS projects.

Gulp have created its own ecosystem. `gulp` itself is like the _core_ library to handle the creation of tasks (creating a development server, bundling

[2020-08-24 12:23] ChocolateLoverRaj commented on #216
@TotomInc maybe the building can be done _before_ commiting to github, and everything besides the `dist/` folder can be `.npmignored`. That way, there will be no dependencies, users can quickly get the files, and the whole npm package will be smaller in size (unless the min and not css few files are actually larger than the source scss files). The building tools could go on `devDependencies`, and

[2020-08-24 12:29] TotomInc commented on #216
@ChocolateLoverRaj I agree with you for the build-tools that _should_ be listed in `devDependencies`.

For the build and push of the `/dist`, we should do it when we release a new version of the framework (patch, minor or major).

The `/dist` folder _should not be pushed for every commit made_, especially since we are meant to develop new features and fix bugs on the `develop` branch.

When a new

[2020-08-24 12:40] ChocolateLoverRaj commented on #216
@TotomInc So what I meant by _before commiting_ was _before publishing a version to npm_. Not in like a pre commit script.

What exactly do you mean? Do you agree with me that the building shouldn't happen in `postinstall` script?

[2020-08-24 12:43] TotomInc commented on #216
Yes, I agree with you, the build of the framework __should not happen__ in the `postinstall` script.

It's our job to provide to the user the latest, pre-built, version of the PaperCSS framework.

[2020-08-24 15:28] ChocolateLoverRaj commented on #216
So then everything else can be in `.npmignore`, with no dependencies, right? Also, would the `paper.min.css` file also be included?

[2020-08-25 05:34] TotomInc commented on #216
@ChocolateLoverRaj yes the goal is to `.npmignore` unused files so everything related to source-code and build-tools configuration.

The `paper.min.css` would still be distributed in the `/dist`.

I started to work on the gulp migration [in this branch](https://github.com/papercss/papercss/commits/build/remove-gulp). The build is actually working and I've totally removed the need for gulp. I'll op

[2020-08-25 12:05] ChocolateLoverRaj commented on #216
@TotomInc that's great. I'm guessing it will be papercss 2.0 because it's a breaking change.

[2020-08-30 17:54] rhyneav commented on #216
Totally agree that the build should not happen on each install. When publishing to NPM, I've been including the built CSS (and minified) anyway. Same with Github releases, I've just been pasting the built css to the release. I think keeping the built CSS file out of git would be best for now. I can see it being confusing for new contributors, but I'm open to including it if anyone else feels stron

[2020-08-30 20:57] TotomInc commented on #216
Well, I've switched the build-tools for something more native to the NodeJS ecosystem. After some research, I found that it's not really possible to bundle a pure-CSS/SCSS framework with webpack, as it always try to add some of its JavaScript inside it.

I used the pure [`sass`](https://www.npmjs.com/package/sass) NodeJS implementation with their API and used mainly [`postcss`](https://github.com/

[2020-09-03 12:02] TotomInc commented on #216
With #219, this issue is not relevant anymore.

[2020-09-13 18:30] rhyneav commented on #210
Deployed in `v1.8.0`!

[2020-09-13 18:30] #210 closed

[2020-09-13 18:31] rhyneav commented on #208
This should be fixed with `v1.8.0` as there are no longer any production dependencies!

[2020-09-13 18:31] #208 closed

[2020-09-13 18:31] rhyneav commented on #187
Just released in `v1.8.0`!

[2020-09-13 18:31] #187 closed

[2020-09-17 21:47] ChocolateLoverRaj commented on #191
I'm don't know much about scss, or if you can have conditional imports, but I know there is probably a way, since the souce scss files can be changed to build a modified `paper.css` file. Maybe @rhyneav can help.

[2020-09-28 00:24] rhyne-vetcove commented on #191
I think think this would be a great addition. It could be as simple as just adding in a `$font-src` variable and if that's set then we won't use the automatic `@import` from Google fonts? A PR would be very welcomed for this if anyone has any ideas!

[2020-09-28 00:25] rhyneav commented on #191
I think think this would be a great addition. It could be as simple as just adding in a `$font-src` variable and if that's set then we won't use the automatic `@import` from Google fonts? A PR would be very welcomed for this if anyone has any ideas!

[2020-10-07 06:53] PaulMaly opened #227 "No source code in NPM"
Hi! Seems in the latest version source code (scss) doesn't ship anymore via NPM. Only `dist` folder with output css present in node_modules. Is it an issue or intent?

[2020-10-07 12:14] TotomInc commented on #227
It is intended, the source-code is not shipped anymore as this should be the right-way to package CSS lib/frameworks.

For more details, take a look at https://github.com/papercss/papercss/issues/216 and https://github.com/papercss/papercss/pull/219.

[2020-10-07 12:20] PaulMaly commented on #227
Ah, it's really sad ((( Without source code, we can't optimize output css for the specific applications. It worked so cool before.

Also, seems README should be updated - this statement is confusing now: `You can also play with original, source files, written in SCSS, in src/.`

[2020-10-07 12:23] PaulMaly commented on #227
[code]
I believe you can combine both things, you can ship /dist and /src together. Default behavior could be a compiled output, but low-level developers still will have access to source code to add it in their own bundler pipeline.

[2020-10-07 12:33] rhyneav commented on #227
Hey! Sorry about that, I honestly didn’t realize it was removed. I think we want to include both the compiled CSS and the source SCSS. The goal of the change was that we don't want the person installing PaperCSS to need to compile it on install. I’ll add it back in (today hopefully) since removing the SCSS would have been a breaking change.

[2020-10-07 12:58] TotomInc commented on #227
I totally agree with all of your answers.

There are no big deals if we add back the source-code, as we will ship both `/dist` and `/src`.

- `/dist` is built by the PaperCSS team before a release. It's the result of compiled SCSS and is what will be imported by default by most web-apps (if you don't need to personalize PaperCSS) and some CDNs.

- `/src` can be used in a way to customize PaperCSS

[2020-10-07 13:04] rhyneav commented on #227
Sounds perfect! I just released `v1.8.1` with the `src` folder added back. @PaulMaly please let me know if anything else is missing there.

[2020-10-07 13:04] #227 closed

[2020-10-07 17:48] PaulMaly commented on #227
@rhyneav @TotomInc Thank you guys for speed ))) I believe it's a good solution in general.

I also found the issue with output css you shipped in /dist.

Check this out, pls: https://github.com/papercss/papercss/blob/master/dist/paper.css#L1409

It's definitely not correct css output I think.

[2020-10-17 23:07] rhyneav opened #228 "Broken Dark Mode Variable Output"
https://github.com/papercss/papercss/blob/master/dist/paper.css#L1409

It's definitely not correct css output I think.

_Originally posted by @PaulMaly in https://github.com/papercss/papercss/issue_comments/705095006_

[2020-10-17 23:08] rhyneav commented on #227
Thank you for the heads up, opened #228 to track this!

[2020-10-17 23:09] rhyneav commented on #192
Closing due to inactivity, feel free to open back up if the issue is still there!

[2020-10-17 23:09] #192 closed

[2020-11-16 17:59] ChocolateLoverRaj opened #229 "Update docs for new build."
Right now the `customize` section of the docs is outdated, and it references `gulp build`. Since gulp is no longer used, we should update the docs to say `npm run build` or `npm run css:build`, and explain what `css:build`, `hugo:build`, and `build` do. I will be happy to make a pull request with these changes.

[2020-11-16 22:47] ChocolateLoverRaj commented on #229
`readme.md#contributing` and `contributing.md` also are outdated. I will also update those.

[2020-11-26 17:34] rhyneav commented on #229
Sounds great, thank you!

[2020-11-26 17:36] #229 closed

[2020-11-26 17:57] #191 closed

[2020-11-26 18:29] rhyneav commented on #228
Fixed with the latest release!

[2020-11-26 18:29] #228 closed

[2020-11-26 18:33] rhyneav opened #233 "Add docs for customizing the SCSS"
With the addition of #232 it would be helpful to add some docs around customizing the styles of the SCSS (including using custom font sources).

[2020-12-02 05:51] adelriosantiago opened #234 "Is there a built-in for disabling shadows?"
Is there a built-in for disabling shadows? Example `<div class="sm-3 col no-shadow">No shadow</div>` so that this particular item will not have a shadow?

[2020-12-02 13:41] rhyneav commented on #234
There is not, but shadows aren't enabled by default. Are you looking for an override when using `child-shadows`?

[2020-12-21 21:38] adelriosantiago commented on #234
Yes, exactly. So that I can select which ones should **not** have a shadow under a `child-shadows` parent.

[2020-12-24 14:13] rhyneav commented on #234
Ah got it, that makes sense! A PR would be welcome here, probably with the class named as `shadow-none` to keep consistent with the existing names. I'll update this issue to reflect that for if you or someone else wants to pick this one up!

[2020-12-24 14:29] rhyneav commented on #101
Since this issue is a few years stale at this point, I'm going to close it. PaperCSS is going to remain a simple CSS framework that can be used alongside other frameworks like animate.css.

[2020-12-24 14:29] #101 closed

[2021-01-02 01:55] turtlekey opened #237 "how to support Chinese characters"
This repo is amazing, but it seems that Chinese character isn't  supported. So how to support it, or it is coming?

[2021-01-02 20:06] rhyneav commented on #237
Hi @turtlekey, you'll want to override the `$font-src`, `$header-font`, and `$body-font` variables to be a font that better supports Chinese characters. There's currently an open issue, #233, on adding some docs to cover this use case and other common customizations.

[2021-01-03 00:39] turtlekey commented on #237
Thanks for reply. I have found that the font([站酷快乐体](https://www.zcool.com.cn/special/zcoolfonts/)) is very suitable for the style  of PAPERCSS in the case for Chinese, and most importantly, this font can be used freely ( free beer) both individually and commercially.

[2021-01-03 00:39] #237 closed

[2021-01-03 09:00] TotomInc commented on #237
@turtlekey thanks for taking the time to write your explanation. I'm sure it will help users that encounter the same problem when coming from Google. 😛

[2021-01-05 13:54] toshihidetagami commented on #234
Hi, this is a cool project. Can I take up this issue?

[2021-01-09 16:50] rhyneav commented on #234
Please do @toshihidetagami! Let me know if you need any additional information!

[2021-01-21 13:25] Famaxis opened #239 "Pagination component?"
Hello, I like PaperCSS. It would be nice to add pagination component. Now I can use button component for this, but with ready specific component it would be much faster and more beautiful.

[2021-01-23 23:02] rhyneav commented on #239
Thank you for the suggestion! I think this could be a neat addition, what specifically did you have in mind?

[2021-01-23 23:28] Famaxis commented on #239
Something like this https://getbootstrap.com/docs/5.0/components/pagination/, but more beautiful and laconic. just like everything else in your framework. :)

[2021-01-25 12:43] Famaxis opened #240 "A few suggestions about components and design"
1. Navbar with user info, logo, other menu items and dropdown list. For example, the elements "profile" and "logout" would look better in dropdown list under nickname.
![567676](https://user-images.githubusercontent.com/43377214/105703569-3f989d00-5f2f-11eb-86ad-eac6a09d6b7a.png)

2. Ready form example with typical fields and layout.
3. Style for button "choose file".
4. More visible style for alt

[2021-01-26 18:28] steven89 opened #241 "input[type=color] display issue"
Hi,

I was messing around with PaperCSS and noticed that the input type color is not displaying properly.
[https://www.w3schools.com/tags/att_input_type_color.asp](https://www.w3schools.com/tags/att_input_type_color.asp)

I tested Chrome/Firefox on Windows and MacOS, and Safari on MacOS

Here are some screenshots of the current display for Safari, Chrome And Firefox on MacOS (color selected is red

[2021-02-01 10:42] Famaxis commented on #240
8. And vertical responsive menu would be great.
![vertical menu](https://user-images.githubusercontent.com/43377214/106447989-f783f800-64a3-11eb-9d53-acec93070007.png)

[2021-02-04 03:12] tonghoangvu opened #242 "More components?"
Hi, this is my first time using PaperCSS, and I like it.
However, I want some other components, for example, spinner, custom scrollbar, or scroll to top button.
I could easily do it with CSS, but it would be great if they were in PaperCSS style.
Thanks.

[2021-02-04 07:12] TotomInc commented on #242
Hi @tonghoangvu, thanks for submitting these great ideas! 🙂

We are lacking some essential components such as a spinner and scroll-to-top button. If you're willing to create these components, feel free to submit us a PR with your changes.

About the custom-scrollbar, it may be hard to do it because of the styling API which isn't standard for many browsers. I also don't think it's a great idea to c

[2021-02-04 08:39] tonghoangvu commented on #242
Thanks for the response. I will consider creating PR when I have free time. Many thanks.

[2021-02-14 20:03] rhyneav commented on #241
Thank you for the detailed issue and for testing it out on a few different browsers! I'll try to get a patch out this week for it!

[2021-02-14 20:04] rhyneav commented on #239
I think that makes a lot of sense and would fit in well with the rest of the framework! Thank you for the suggestion!

[2021-02-14 20:26] rhyneav commented on #240
These are all great suggestions, thank you for the writeup! To respond to each point with comments and questions:

---

I'm not sure if I'm totally following here, are you suggesting some additional styles for a dropdown navbar item?

---

Totally agree, that should probably be at the top of the Forms page.

---

+1 for this, a custom file input would look amazing

---

Since this table was design

[2021-02-14 21:05] Guergeiro opened #243 "Navbar icon not working"
A [bug](https://github.com/papercss/papercss/commit/0021424e639db0cdf7df5e4718c53a1e2ca726d3#diff-a9809ee71e5701061936d72fd9e99423864a528b95489e73ab4c0c6efd08f964) was introduced that removed the `height` needed to show bars in the navbar icon.

![image](https://user-images.githubusercontent.com/39097691/107889037-3e440a00-6f08-11eb-9bcf-934c0407d16c.png)

[2021-02-15 15:11] Famaxis commented on #240
About dropdown in navbar. I mean to include dropdown in ready navbar component, like this: https://getbootstrap.com/docs/5.0/components/navbar/#supported-content
But I suggest dropdown with hover, not with click (as a lazy user, I like to hover).

About vertical menu. I suggest almost the same as existing horizontal menu (it's already responsive), but vertical variant. Maybe withouth hamburger ico

[2021-02-15 15:23] Famaxis opened #245 "Ready form example with typical fields and layout"
Fields, for example: name, e-mail, user avatar with image upload, date picking, some textarea, etc. All is responsive.
With fieldsets, like this.
<img width="401" alt="_example" src="https://user-images.githubusercontent.com/43377214/107964798-7c563200-6fcb-11eb-835f-46ebcf27693e.png">

[2021-02-15 15:25] Famaxis opened #246 "Custom file input"
![897](https://user-images.githubusercontent.com/43377214/107965077-dfe05f80-6fcb-11eb-96e5-2230f907eb3f.png)

[2021-02-15 15:27] Famaxis opened #247 "Different borders for buttons/links"

[2021-02-15 15:28] Famaxis opened #248 "More variants for radio buttons"
![6766](https://user-images.githubusercontent.com/43377214/107965428-567d5d00-6fcc-11eb-82f3-4a9ad371dd97.PNG)

[2021-02-15 20:33] rhyneav commented on #240
That makes sense about the dropdown, thank you for clarifying.

And no worries at all, I'm glad you made this one issue before breaking it out into separate ones. It made it easier to discuss the suggestions first.

[2021-02-16 16:09] Famaxis opened #249 "Dropdown in navbar"
Something like this: https://getbootstrap.com/docs/5.0/components/navbar/#supported-content
But with hover instead of click.

[2021-02-16 16:23] Famaxis opened #250 "Vertical menu"
Another navbar variant, but vertical in this case. With accordion submenu items.
For example:

- https://codepen.io/eriksenlezama/pen/EQarpO
- https://codepen.io/pedronauck/pen/jaluz

[2021-02-16 17:23] Famaxis commented on #240
Also, I want to suggest improving the color scheme, make it more fresh and bright.
First one - is a default, the next two - my variants. If you are interested, I can work with colors.
![Layer 1](https://user-images.githubusercontent.com/43377214/108098163-dd056d80-70a4-11eb-9166-7559ca130959.png)
![Layer 2](https://user-images.githubusercontent.com/43377214/108098258-fa3a3c00-70a4-11eb-81c8-e88a82

[2021-03-13 12:42] muyaszed opened #252 "Library for react native"
If nobody have done this, Im planning to create this. 😁

[2021-03-17 22:13] rhyneav commented on #252
Go for it! It would be a welcome addition!

[2021-03-27 07:09] muyaszed commented on #252
@rhyneav I've requested to access papercss for an automation tool, hope it is ok to have the access. thanks

[2021-03-27 13:54] rhyneav commented on #252
Just approved! Going to close this issue since it looks like you're going strong over at https://github.com/papercss/react-native-paper-css

[2021-03-27 13:54] #252 closed

[2021-06-15 14:43] #197 closed

[2021-06-16 11:11] rhyneav commented on #197
Whoops! Yes, this should be okay now.

[2021-10-15 05:09] lousolverson opened #260 "Enable "font-display: swap " to avoid showing invisible text"
In order to improve the pagespeed score, I tried a few change in the _config.scss file:
replace $font-src: 'https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC' !default;
by $font-src: 'https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC&display=swap' !default;
With this the FOIT  disappeared and the font-display audit succeeded.

[2021-10-15 07:50] koester commented on #260
Thanks for noticing this. Feel free to open a new PR with your proposed change.

[2021-10-18 02:56] tablecell opened #261 "horizontal form can't display in line because display:block"
[code]

[2021-10-19 11:16] #261 closed

[2021-11-19 13:08] Oli8 commented on #239
FYI I've implemented a pagination component in [spaper](https://github.com/Oli8/spaper) (papercss component for svelte), you can see how it looks here : https://oli8.github.io/spaper/#/components/Pagination

[2021-11-21 17:35] rhyneav commented on #239
Very nice!

[2022-01-22 13:38] #260 closed

[2022-03-14 11:20] mef opened #268 "Display modal in front of nav"
Currently, the modal component has  a `z-index` of 12, whereas the `z-index` of the nav component is 100.

This makes the modal to be displayed _below_ navbar. This is especially problematic on devices with smaller screen, where the modal panel's content might be partly covered by the nav.

Should the modal's z-index be increased to 101?

[2022-03-14 11:44] koester commented on #268
Thanks for opening an issue and yes, your proposed solution is right.

I would suggest to increase the z-index of the modal even higher than 101, probably around 200, just so we have some room  for other components later on. The Modal should have the highest z-index of any component, since the use case is to overlap the whole page.

Feel free to open a PR with your proposed change :)

[2022-03-16 13:21] Roemer opened #269 "Slider with two colors like progress bar"
I would love to have a slider where the color of the bar before the thumb is different as the one after the tumb, just like in the progress component, just with the draggable thumb. I tried `accent-color` but that does not work because `appearance` is set to `none`.

[2022-03-23 10:02] mef opened #271 "Inputs and labels not shown inside collapsible"
Hi, there appears to be a bug in collapsible

Whenever an `input` or `label` is included inside the collapsible body, it does not appear on screen.

### Example code

[code]

### Expected result

![expected-situation](https://user-images.githubusercontent.com/925443/159673395-99140382-1872-49dd-b572-47ee8217b3dd.png)

### Observed result

![observed-situation](https://user-images.githubusercontent

[2022-03-23 10:14] mef opened #272 "Long collapsible content not visible"
The height `collapsible-body` is limited to 960 px, and the overflow is set to `hidden`.

As a consequence, whenever a collapsible contains long content spanning over more than 960 px, the content is cropped and not visible to the visitor.

Is this limitation here on purpose? Shouldn't there rather be an `overflow-y: scroll` rule?

[2022-04-10 03:19] tonghoangvu opened #274 "Default background color for `<html>` element"
I've started a new project using Paper CSS recently. But I got a problem,  the background color is white when dark mode is enabled.

![image](https://user-images.githubusercontent.com/64119341/162599782-80beb999-8a32-4da3-b79c-0071555d7b92.png)

I think it would be better if the `<html>` element has a default background color, something like this.

[code]

[2022-06-17 20:15] quinhua opened #276 "Unchecked runtime.lastError: The message port closed before a response was received."
使用textarea后edge一直报错Unchecked runtime.lastError: The message port closed before a response was received.

[2022-06-27 15:18] koester commented on #271
👍

[2022-07-25 06:45] gjssss opened #278 "Stylelint Error"
Hello! I'm coding in WIN11.
I forked the repo and changed a little code.
But when I run `npm run stylelint`, There is an Error
[code]

By the way, when I run `npm start`, It said there no file named `hugo.exe` in `node_modules/hugo-bin/vendor/hugo.exe`(This is not the original words), so I got the `hugo.exe 0.74.3` , put it in that place and fixed.

[2022-07-25 10:47] gjssss commented on #278
I change the `package.json`
from
[code]
to
[code]
Now, It can work!
I don't know if it's because I'm using Windows

[2022-08-30 15:39] Rajdave69 opened #280 "Show modal with JS"
Is there a way to show a PaperCSS Model with JS? It's that simple.

The current code I'm making to hide/show modals is
[code]

How can I do this with JS?

Modal Code -
[code]

[2022-08-30 16:02] Rajdave69 commented on #280
Update - I managed to do this

[code]

[2022-08-30 16:02] #280 closed

[2022-09-28 15:03] almibarss opened #281 "Breaking change in Sass: Color Units"
I just stumbled upon this cute deprecation warning when compiling my sass files today:

[code]

It seems there are some [breaking changes in the spec](https://sass-lang.com/documentation/breaking-changes/color-units):

[2022-10-06 07:19] almibarss opened #283 "Can you use Sass module system with PaperCSS?"
I'm using some of the styles defined by PaperCSS (mostly `.border`) as a basis for my own styles:

[code]
The import rules for the above go like this:
[code]

Needless to say that this works like a charm. The point is that apparently [Sass is deprecating `@import` in favor of `@use`](https://sass-lang.com/documentation/at-rules/import). And I can't make it work with a literal replacement:

[code]

[2022-11-10 17:37] John-H-Smith opened #284 "Host font locally"
As of some changes in the eu-gdpr, loading google fonts directly from google is not allowed anymore.
As the url of the google font 'neucha' is hardcoded within the css file, using papercss is not easy anymore for all website owners in the eu.
So, I would highly appreciate if there is an option of using papercss with the neucha font hosted locally.
Currently, I worked arount with manually changing

[2022-11-24 17:12] #243 closed

[2022-11-24 17:22] #268 closed

[2022-11-24 17:37] rhyneav commented on #281
Fixed in #282!

[2022-11-24 17:37] #281 closed

[2022-11-24 17:43] rhyneav commented on #284
Hey @John-H-Smith, I think some update here makes sense. What does your current override look like? We currently conditionally import the Google font based on if it is set:

[code]

I wonder if making a switch over to something like [Font Source](https://fontsource.org/) and totally leaving the Google ecosystem would be a good step forward, but curious to hear what would work best for you and othe

[2022-11-24 17:45] rhyneav commented on #283
It very well might be that we don't support `@use` yet. A 2.0 release to catch up on some of these Sass breaking changes is likely in our future at this rate!

[2022-11-24 17:46] rhyneav commented on #278
Thank you for the catch, it might be windows specific. A PR would be well received here to help fix this!

[2022-11-24 17:47] rhyneav commented on #276
Closing this one, but please feel free to open back up with more details if it pops up again!

[2022-11-24 17:47] #276 closed

[2022-11-24 17:47] rhyneav commented on #274
A PR to get this baked in to the library would be well received too!

[2022-11-24 17:49] rhyneav commented on #272
I think the only reason there was a specific height was for the transition animation. If we can get rid of the limited height and keep the collapse animation, that would be ideal!

[2022-11-24 17:50] rhyneav commented on #271
Fixed in #277!

[2022-11-24 17:50] #271 closed

[2022-11-24 17:54] rhyneav commented on #269
This makes sense to me too. It looks like the [native range](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range) input behaves like this too

[2022-11-24 17:56] rhyneav commented on #247
Closing this one since it's pretty old and pretty vague. But please feel free to open up another issue with more details if it's still relevant!

[2022-11-24 17:56] #247 closed

[2022-11-24 17:56] rhyneav commented on #246
This would be really cool!

[2022-11-25 07:23] John-H-Smith commented on #284
Hi @rhyneav , thank you for your answer!
For my current workaround, I downloaded the sources of the font-families 'neucha' and 'Patrick Hand SC' and set the font-family in a custom css file like so:
[code]
I know it's not a great way, but it works for the moment.

Moving to Font Source or something else is sadly no option. In the EU, you have to actively accept the loading of ANY data from a cdn,

[2022-11-26 10:48] gjssss commented on #278
Thank you!

[2022-11-26 10:48] #278 closed